<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title">
                    <text class="uppercase blue-text lato">LISTA DE LIBROS</text>
                    <text class="uppercase orange-text lato"> EN VENTA</text>
                </h1>

            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


<div class="content-wrap mid-section">


<!--SELLER TO BUYER-->
<div class="selling-book-promise-div"
     cg-busy="{promise:sellingBookPromise,templateUrl:'views/template/search_result_loading_template.html'}">

<div class="section m-0 pt-0 archive-page-sections" ng-show="!resultFound">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="lato px-25 orange-text">Hasta ahora no has vendido ningún libro de texto. Desde <a
                        ui-sref="app.sellBook">aquí</a> puedes comenzar a vender tus libros de texto en cuestión de
                    segundos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section m-0 pt-0 archive-page-sections" data-ng-repeat="deal in campusBookDeals">
<div class="container clearfix quote-container-homepage">
<div class="row">

<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="search-book-image-carousel selling-book-image-carousel">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">

            <uib-slide ng-repeat="slide in deal.bookImages" active="slide.active">
                <img ng-click="viewImage($event,book.bookTitle)" data-options="splash-2 splash-primary splash-ef-2"
                     class="big-images" ng-src="{{imageHostPath}}{{slide.image}}" style="margin:auto;">

            </uib-slide>
        </uib-carousel>
        <div class="btn-group" ng-show="deal.showThumb">
            <div class="text-center">
                <span><a class="thumb-control-left" ng-click="prevPage(deal)"><i class="fa fa-angle-left fa-3x"></i></a></span>

                                    <span class="search-thumb-image"
                                          ng-repeat="thumb in deal.showThumbnails"
                                          ng-class="{true:'active',false:'not-active'}[thumb.active]">
                                        <img ng-src="{{imageHostPath}}{{thumb.image}}"
                                             ng-click="setActive(deal,thumb.imageId)"/>
                                    </span>

                        <span><a class="thumb-control-right" ng-click="nextPage(deal)"><i
                                class="fa fa-angle-right fa-3x"></i></a></span>
            </div>

        </div>
    </div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12">
<div class="row">
<div class="col-md-9 col-sm-9 ">
    <div class="archive-page-headers">
        <h3 class="book-title orange-text lato uppercase">{{deal.bookTitle}}</h3>
        <h4 class="book-sub-title blue-text lato">{{deal.bookSubTitle}}</h4>

        <p class="book-description grey-text">De
            <text class="blue-text">{{deal.bookDirectorAuthorArtist}}</text>
            :: Publicado por {{deal.bookPublisher}} {{deal.bookPublishDate}} :: ({{deal.bookBinding}})
            <br/>ISBN:
            <text class="blue-text">{{deal.bookIsbn}}</text>
            &nbsp;&nbsp;&nbsp;&nbsp;ISBN-13:
            <text class="blue-text">{{deal.bookIsbn13}}</text>
        </p>
    </div>
    <div class="archive-page-deal-information">
        <div ng-show="!deal.viewMoreInfo" class="view-more-info-btn-div">
            <button ng-click="removeNewContacts(deal)" class="view-more-info-btn myBtn app-btn blue-btn hidden-xs">
                Ver más información <span ng-show="deal.newContacts>0"
                                          class="badge">{{deal.newContacts}}</span></button>
        </div>
        <div ng-show="deal.bookStatus=='Deactivated' && !deal.viewMoreInfo"
             class="alert alert-danger margin-top-40">

            ¡El Acuerdo de Libros de Texto actualmente está <strong>desactivado</strong>!.
            Actívelo para que los Estudiantes vuelvan a verlo.

        </div>
        <div ng-show="deal.viewMoreInfo">
            <text class="box-title uppercase orange-text lato"><strong>INFORMACION DEL ACUERDO</strong></text>
            <div class="deal-information-box">
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            <text class="blue-text"><strong>Método de Contacto</strong></text>
                            <text class="grey-text" ng-if="deal.bookContactMethod=='sellerToBuyer'"> : Tú (Vendedor) Contacta Comprador
                            </text>
                            <text class="grey-text" ng-if="deal.bookContactMethod=='buyerToSeller'"> : Comprador Contacta (Vendedor) Tú
                            </text>
                            <text class="grey-text" ng-if="deal.bookContactMethod=='student2studentBoard'">
                                : Utiliza el Tablón de anuncios de  Student2Student
                            </text>
                            <br/>
                        </p>


                        <p ng-if="deal.bookContactMethod!='student2studentBoard'">
                            <text class="icons"><i class="fa fa-envelope-o 2x"></i></text>
                            <text><strong>{{deal.sellerEmail}}</strong></text>
                            <br/>
                        </p>

                        <p ng-if="deal.bookContactMethod=='buyerToSeller'">
                            <text class="icons"><i class="fa fa-phone 2x"></i></text>
                            <text ng-show="deal.sellerCellNumber!=null"><strong>{{deal.sellerCellNumber}}</strong>
                            </text>
                            <text ng-show="deal.sellerCellNumber==null"><strong>No facilitado por el Vendedor</strong>
                            </text>
                            <br/></p>
                        <p ng-if="deal.bookContactMethod=='buyerToSeller'">
                            <text class="icons"><i class="fa fa-phone 2x"></i></text>
                            <text ng-show="deal.sellerHomeNumber!=null"><strong>{{deal.sellerHomeNumber}}</strong>
                            </text>
                            <text ng-show="deal.sellerHomeNumber==null"><strong>No facilitado por el Vendedor</strong>
                            </text>
                            <br/></p>

                        <p>
                            <text class="blue-text"><strong>Comentario</strong></text>
                            <text ng-show="deal.bookComment!=undefined" class="grey-text"> :
                                {{deal.bookComment}}
                            </text>
                            <text ng-show="deal.bookComment==undefined" class="grey-text"> : Sin comentarios
                            </text>
                            <br/></p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <text class="blue-text"><strong>Pago</strong></text>
                            <text class="grey-text"> :

                                <text ng-show="deal.bookPaymentMethodCashOnExchange && !deal.bookPaymentMethodCheque">
                                    Efectivo
                                </text>
                                <text ng-show="!deal.bookPaymentMethodCashOnExchange && deal.bookPaymentMethodCheque">
                                    Cheque
                                </text>
                                <text ng-show="deal.bookPaymentMethodCashOnExchange && deal.bookPaymentMethodCheque">
                                    Efectivo, Cheque
                                </text>

                            </text>
                            <br/></p>
                        <p>
                            <text class="blue-text"><strong>Fecha de Disponibilidad</strong></text>
                            <text class="grey-text"> : {{deal.bookAvailableDate}}</text>
                            <br/></p>
                        <p>
                            <text class="blue-text"><strong>Disponibilidad al Público</strong></text>
                            <text class="grey-text"> : {{deal.bookIsAvailablePublic}}</text>
                            <br/></p>
                        <p>
                            <text class="blue-text"><strong>El libro de Texto tiene anotaciones</strong></text>
                            <text class="grey-text"> : {{deal.bookHasNotes}}</text>
                            <br/></p>
                        <p>
                            <text class="blue-text"><strong>El libro de Texto está subrayado</strong></text>
                            <text class="grey-text"> : {{deal.bookIsHighlighted}}</text>
                            <br/></p>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>
<div class="col-md-3 col-sm-3">
    <div class="archive-page-side">
        <h1 class="orange-text open-sans price-header">‎€{{deal.bookPriceSell}} </h1>

        <div class="share-images">
                                <span class="dropdown" uib-dropdown on-toggle="toggled(open)">
                                  <a href class="dropdown-toggle" uib-dropdown-toggle>
                                      <span><img src="{{appHostPath}}/dist/images/archive_pages/share.png"/></span>
                                  </a>
                                  <ul class="dropdown-menu share-ul">
                                      <li>
                                          <a href="" socialshare
                                             socialshare-provider="twitter"
                                             socialshare-hashtags="mySellPage, student2student, Intercambio Fácil de Libros de Texto"
                                             socialshare-text="Mi Página de Venta|Student2Student.es|Intercambio Fácil de Libros de Texto"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-twitter fa-2x"></i></a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                          <a href="" socialshare
                                             socialshare-provider="linkedin"
                                             socialshare-text="Mi Página de Venta|Student2Student.es|Intercambio Fácil de Libros de Texto"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-linkedin fa-2x"></i></a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                          <a href="" socialshare
                                             socialshare-provider="google"
                                             socialshare-text="Mi Página de Venta|Student2Student.es|Intercambio Fácil de Libros de Texto"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-google-plus fa-2x"></i></a>
                                      </li>
                                  </ul>
                                </span>
                                <span><a href="" socialshare
                                         socialshare-provider="skype"
                                         socialshare-text="Mi Página de Venta|Student2Student.es|Intercambio Fácil de Libros de Texto"
                                         socialshare-url="{{shareUrl}}"><img
                                        src="{{appHostPath}}/dist/images/archive_pages/skype.png"/></a></span>
                                <span><a href="" socialshare
                                         socialshare-provider="facebook"
                                         socialshare-text="Mi Página de Venta|Student2Student.es|Intercambio Fácil de Libros de Texto"
                                         socialshare-hashtags="mySellPage, student2student, Intercambio Fácil de Libros de Texto"
                                         socialshare-url="{{shareUrl}}">
                                    <img src="{{appHostPath}}/dist/images/archive_pages/fb.png"/></a></span>

        </div>
        <div class="buttons">
            <a ui-sref="app.editBookDeal({book:deal})" class="myBtn app-btn orange-btn"><img
                    class="hidden-sm hidden-xs"
                    src="{{appHostPath}}/dist/images/archive_pages/list.png"/> &nbsp; Editar Acuerdo</a>

            <button ng-show="deal.bookStatus=='Activated'"
                    data-options="splash-2 splash-primary splash-ef-2"
                    ng-click="showBookDealChangeStatusModal($event,'deactivateModalContent',{deal:deal})"
                    class="myBtn app-btn orange-btn">
                <img class="hidden-sm hidden-xs" src="{{appHostPath}}/dist/images/archive_pages/lock.png"/> &nbsp;
                Desactivar
            </button>

            <button ng-show="deal.bookStatus=='Deactivated'"
                    data-options="splash-2 splash-primary splash-ef-2"
                    ng-click="showBookDealChangeStatusModal($event,'activateModalContent',{deal:deal})"
                    class="myBtn app-btn green-btn">
                <img class="hidden-sm hidden-xs" src="{{appHostPath}}/dist/images/archive_pages/lock.png"/> &nbsp;
                Activar
            </button>


            <button data-options="splash-2 splash-primary splash-ef-2"
                    ng-click="showDeleteBookDealModal($event,'deleteModalContent',{deal:deal})"
                    class="myBtn app-btn orange-btn"><img class="hidden-sm hidden-xs"
                                                          src="{{appHostPath}}/dist/images/archive_pages/del.png"/>
                &nbsp;
                Borrar
            </button>
        </div>
        <div class="view-and-contact">
            <p>
                <text class="blue-text"><img src="{{appHostPath}}/dist/images/archive_pages/view.png"/>
                    &nbsp;&nbsp;<strong>Visitas</strong></text>
                <text class="grey-text"> : {{deal.bookViewCount}}</text>
                <br/></p>
            <p>
                <text class="blue-text"><img src="{{appHostPath}}/dist/images/archive_pages/contact.png"/>&nbsp;&nbsp;&nbsp;<strong>Contactos</strong>
                </text>
                <text class="grey-text"> : {{deal.contacts.length}}</text>
                <br/></p>
        </div>

    </div>
</div>
</div>

<div ng-show="!deal.viewMoreInfo" class="view-more-info-btn-div visible-xs">
    <button ng-click="removeNewContacts(deal)" class="view-more-info-btn myBtn app-btn blue-btn">
        Ver más información  <span ng-show="deal.newContacts>0"
                                    class="badge">{{deal.newContacts}}</span></button>
</div>

</div>


</div>
<div class="row" ng-show="deal.viewMoreInfo">
    <div class="col-md-12">

        <div ng-show="deal.bookStatus=='Deactivated'" class="alert alert-danger">
            ¡El Acuerdo de Libros de Texto actualmente está <strong>desactivado</strong>!
            Actívelo para que los Estudiantes vuelvan a verlo.

        </div>

        <div class="archive-page-contact-history">
            <text class="box-title uppercase orange-text lato"><strong>HISTORIAL DE CONTACTO - </strong></text>
            <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='sellerToBuyer'"><strong>
                Tú (Vendedor) Contacta Comprador
                <text uib-tooltip="El comprador no está recibiendo su información. Como vendedor debes ponerte en contacto con el comprador."
                      class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text>
            </strong></text>
            <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='buyerToSeller'"><strong>
                Comprador Contacta (Vendedor) Tú
                <text uib-tooltip="El comprador recibirá tu información y se pondrá en contacto contigo. El comprador, igualmente puede proporcionarte información como el vendedor."
                      class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text>
            </strong></text>
            <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='student2studentBoard'">
                <strong> Utiliza el Tablón de anuncios de  Student2Student
                    <text uib-tooltip="Puedes chatear con el comprador en  el Tablón de Anuncios de Student2Student."
                          class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text>
                </strong></text>
            <div class="contact-history-box">
                <div class="table-responsive">


                    <table cg-busy="{promise:messagePromise}" class="table contact-history-table">
                        <thead>
                        <tr>
                            <th style="width: 13%;">Fecha</th>
                            <th style="width: 13%;">Usuario</th>
                            <th ng-show="deal.bookContactMethod!=='student2studentBoard'" style="width: 15%;">Email</th>
                            <th style="width: 20%;">Teléfono Móvil</th>
                            <th style="width: 20%;">Teléfono Particular</th>
                            <th style="width: 20%;">Acción</th>
                        </tr>
                        </thead>

                        <tbody ng-show="deal.contacts.length==0">
                        <tr>
                            <td colspan="6">Todavía no dispone de historial de contacto.</td>
                        </tr>
                        </tbody>

                        <tbody data-ng-repeat="contact in deal.contacts">
                        <tr>
                            <td>{{contact.contactDateTime}}</td>
                            <td>{{contact.buyerNickName}}</td>
                            <td ng-show="deal.bookContactMethod!=='student2studentBoard'">{{contact.buyerEmail}}</td>
                            <td>{{contact.buyerCellPhone}}</td>
                            <td>{{contact.buyerHomePhone}}</td>
                            <td>
                                <!--<text >-->
                                <button ng-show="!contact.showingMessages" ng-click="getMessages(contact)"
                                        class="myBtn app-btn orange-btn contact-btn"><i
                                        class="fa fa-envelope-o"></i> Mensajes
                                </button>
                                <!--</text>-->
                                <!--<text >-->
                                <button ng-show="contact.showingMessages" ng-click="contact.showingMessages=false"
                                        class="myBtn app-btn green-btn contact-btn"><i class="fa fa-envelope-o"></i>
                                    Mensajes
                                </button>
                                <!--</text>-->

                                <button ng-show="contact.sendingMessages" ng-click="contact.sendingMessages=false"
                                        class="myBtn app-btn  green-btn contact-btn"><i class="fa fa-paper-plane"></i>
                                    Enviar Mensajes
                                </button>
                                <button ng-show="!contact.sendingMessages" ng-click="contact.sendingMessages=true"
                                        class="myBtn app-btn  orange-btn contact-btn"><i class="fa fa-paper-plane"></i>
                                    Enviar Mensajes
                                </button>

                                <button data-options="splash-2 splash-primary splash-ef-2"
                                        class="myBtn app-btn orange-btn contact-btn"
                                        ng-click="showMarkAsSoldModal($event,'sellingModalContent',{deal:deal,contact:contact,allDeals:campusBookDeals.buyerToSeller})">
                                    <i class="fa fa-check"></i> Vendido a {{contact.buyerNickName}}
                                </button>
                            </td>
                        </tr>


                        <tr ng-show="contact.showingMessages" class="message-header-tr">
                            <th>Fecha</th>
                            <th>Usario</th>
                            <th colspan="4">Mensajes</th>
                        </tr>

                        <tr ng-show="contact.showingMessages" ng-class="{'no-message':message.noMessage}"
                            class="all-messages-tr"
                            data-ng-repeat="message in contact.messages">
                            <td class="italic">{{message.messageDateTime}}</td>
                            <td class="italic">{{message.sender}}</td>
                            <td colspan="4" class="italic">{{message.messageBody}}</td>
                        </tr>

                        <tr ng-show="contact.sendingMessages">

                            <td colspan="6"
                                ng-class="{ 'has-error' : messageForm.message.$invalid && !messageForm.message.$pristine, 'has-success' : messageForm.message.$valid && !contactForm.message.$pristine}">

                                <form name="messageForm" class="form-horizontal" submit-validate
                                      ng-submit="sendMessage(messageForm.$valid,contact,messageForm)" role="form"
                                      novalidate>


                                    <textarea name="message" class="form-control" placeholder="Escribe tu mensaje"
                                              ng-model="contact.message" required></textarea>

                                    <p class="help-block">
                                        <span ng-show="messageForm.message.$invalid && !messageForm.message.$pristine">Se Require Mmensaje.</span>
                                    </p>


                                    <button type="submit" class="myBtn app-btn orange-btn contact-btn"><i
                                            class="fa fa-paper-plane"></i> Enviar
                                    </button>
                                    <button type="button" ng-click="contact.sendingMessages=false"
                                            class="myBtn app-btn orange-btn contact-btn"><i class="fa fa-times"></i>
                                        Cancelar
                                    </button>

                                </form>

                            </td>
                        </tr>

                        </tbody>


                    </table>
                </div>
            </div>
        </div>
        <div>
            <button ng-click="deal.viewMoreInfo=false" class="myBtn back-button"><img
                    src="{{appHostPath}}/dist/images/archive_pages/back.png"> &nbsp;&nbsp;&nbsp;Cerrar
            </button>
        </div>

    </div>
</div>


</div>
</div>


<div class="section custom-pagination-section" ng-show="showPagination">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                ng-change="changePage(currentPage)" class="search-page-pagination"
                                boundary-links="true"
                                rotate="false" num-pages="numPages"></uib-pagination>

            </div>
        </div>
    </div>
</div>

</div>


<!--BUYER TO SELLER-->


</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">

    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>

<script type="text/ng-template" id="sellingModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">Quiere Vender el Libro a "{{src.contact.buyerNickName}}"?</h3>
    </div>
    <div class="modal-body">

        <p>¿Estás seguro  que deseas vender este libro a este usuario?</p>

        <p>Una vez Vendido puede ver el libro en la Página del Archivo de Ventas.        </p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"
                ng-click="confirmModal(markUserAsBuyerOfThatDeal,src)">
            <i class="fa fa-check"></i> Si
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>


<script type="text/ng-template" id="deactivateModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">¿Deseas desactivar el acuerdo  de este Libro de Texto?</h3>
    </div>
    <div class="modal-body">

        <p>¿Estás seguro que deseas desactivar el acuerdo de este Libro de Texto "{{src.deal.bookTitle}}"? Ningún estudiante podrá ver más el acuerdo.</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(changeBookDealStatus,src)">
            <i class="fa fa-check"></i> Si
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>

<script type="text/ng-template" id="activateModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">¿Deseas activar el acuerdo de este Libro de texto?</h3>
    </div>
    <div class="modal-body">


        <p>¿Estás seguro que deseas activar el acuerdo de este Libro de texto "{{src.deal.bookTitle}}"? Otros estudiantes podrán ver el acuerdo y preguntar por el libro de texto.</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(changeBookDealStatus,src)">
            <i class="fa fa-check"></i> Si
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>

<script type="text/ng-template" id="deleteModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">¿Deseas Eliminar este Acuerdo?</h3>
    </div>
    <div class="modal-body">

        <p>¿Estás seguro  que deseas eliminarlo "{{src.deal.bookTitle}}" ?</p>

        <p>Una vez eliminado todo el contenido relacionado con este libro, el Acuerdo será borrado.
            No será posible recuperar ningún datos relativo a este acuerdo de libros después de esta acción.
        </p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(deleteBookDeal,src)">
            <i class="fa fa-check"></i> Si
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>