<div ng-parallax pattern="'dist/images/parallax/login_parallax.jpg'" offset="0"  speed="5"  class="parallax-box dark">

    <div class="container clearfix" data-ng-init="viewImage()">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">{{'signInScreenTexts.JOIN' | translate}}</p>

            </div>

        </div>
        <div cg-busy="{promise:signupPromise}" class="row reg-page-dark-div">
            <form name="userForm" submit-validate ng-submit="register(userForm.$valid)" role="form" novalidate>
            <div class="col-md-6 reg-page-col-div">

                <div class="reg-page-form">



                    <!-- tile -->
                    <section class="tile text-left" fullscreen="isFullscreen01">


                        <!-- tile body -->
                        <div class="tile-body">


                            <div class="form-group" ng-class="{ 'has-error' : userForm.fullName.$invalid && !userForm.fullName.$pristine, 'has-success' : userForm.fullName.$valid && !userForm.fullName.$pristine}">

                                <p class="white-text" for="fullName">{{'placeholderTexts.FULL_NAME' | translate}}: <text uib-tooltip="{{'validationTexts.FULL_NAME_IS_REQUIRED_MIN_3_CHAR' | translate}}" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                <input type="text" name="fullName" id="fullName" class="form-control input-style" ng-model="user.fullName" ng-minlength="3"  required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.fullName.$invalid && !userForm.fullName.$pristine">{{'validationTexts.YOUR_NAME_IS_REQUIRED' | translate}}</span>
                                    <span ng-show="userForm.fullName.$error.minlength">El nombre completo es demasiado corto.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}">

                                <p class="white-text" for="fullName">Usuario: <text uib-tooltip="{{'validationTexts.USERNAME_IS_REQUIRED_CHAR' | translate}}" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                <input data-val-username val-username-special-char type="text" name="username" id="username" class="form-control input-style" ng-model="user.username" ng-minlength="3" ng-maxlength="20" required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">Se requiere nombre de usuario.</span>
                                    <span ng-show="userForm.username.$error.minlength">El nombre de usuario es demasiado corto.</span>
                                    <span ng-show="userForm.username.$error.maxlength">El nombre de usuario es demasiado largo.</span>
                                    <span ng-show="userForm.username.$error.valUsername">{{'validationTexts.USERNAME_ALREADY_EXISTS' | translate}}</span>
                                    <span ng-show="userForm.username.$error.valUsernameSpecialChar">El nombre de usuario no debe contener caracteres especiales excepto '-' o '_'.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">

                                <p class="white-text" for="fullName">{{'placeholderTexts.EMAIL' | translate}}: </p>
                                <input data-val-email type="email" name="email" id="email" class="form-control input-style" ng-model="user.email" required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.email.$invalid && !userForm.email.$pristine">{{'validationTexts.VALID_EMAIL_IS_REQUIRED' | translate}}</span>
                                    <span ng-show="userForm.email.$error.valEmail">{{'validationTexts.EMAIL_ALREADY_EXISTS' | translate}}</span>
                                </p>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">

                                    <p class="white-text" for="fullName">Contraseña: <text uib-tooltip="{{'validationTexts.PASSWORD_IS_REQUIRED_MIN_6_CHAR' | translate}}" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                    <input type="password" name="password" id="password" class="form-control input-style" ng-model="user.password" ng-minlength="6" required autocomplete="off">
                                    <p class="help-block">
                                        <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">{{'validationTexts.PASSWORD_IS_REQUIRED' | translate}}</span>
                                        <span ng-show="userForm.password.$error.minlength">La contraseña es demasiado corta.</span>
                                    </p>
                                </div>

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">

                                    <p class="white-text" for="fullName">Confirmación de Contraseña: </p>
                                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control input-style" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required autocomplete="off">
                                    <p class="help-block">
                                        <span ng-show='userForm.passwordConfirm.$error.validator'>{{'validationTexts.CONFIRM_PASSWORD_IS_REQUIRED' | translate}}</span>
                                    </p>
                                </div>

                            </div>


                        </div>


                    </section>

                </div>


            </div>
            <div class="col-md-6 reg-page-col-div ">

                <div class=" reg-page-form">


                    <div class="form-group" ng-class="{ 'has-error' : userForm.campus.$invalid && !userForm.campus.$pristine, 'has-success' : userForm.campus.$valid && !userForm.campus.$pristine}">

                        <p class="white-text">Universidad: </p> <p class="white-text">Si no se encuentra entonces <a ui-sref="app.addUniversity">Crear una nueva universidad!</a></p>

                        <input
                                placeholder="¿Cuál es su Campus Universitario?"
                                ng-change="onCampusChange()"
                                typeahead-on-select="onCampusSelect($item, $model, $label)"
                                ng-model-options="modelOptions"
                                name="campus"
                                required type="text"
                                ng-model="campus"
                                uib-typeahead="campus as campus.display for campus in querySearch($viewValue)"
                                typeahead-loading="loadingCampuses"
                                typeahead-no-results="noResults"
                                class="form-control input-style"
                                autocomplete="off">

                        <text ng-show="loadingCampuses"  class="white-text"><i class="fa fa-cog fa-spin fa-fw"></i> Obtener información sobre la universidad...</text>
                        <div ng-show="noResults" class="text-danger">
                            <i class="fa fa-times"></i> No se han encontrado resultados
                        </div>



                        <p class="help-block">
                            <span ng-show="userForm.campus.$invalid && !userForm.campus.$pristine">{{'validationTexts.CAMPUS_IS_REQUIRED' | translate}}</span>
                        </p>
                    </div>



                    <div class="form-group" ng-class="{ 'has-error' : userForm.referral.$invalid && !userForm.referral.$pristine, 'has-success' : userForm.referral.$valid && !userForm.referral.$pristine}">

                        <p class="white-text" for="fullName">Remisión: </p>

                        <select name="referral" id="referral"  ng-model="user.referral"  class="form-control mb-10 input-style"
                                data-ng-options="referral.id as referral.referral_name for referral in referrals" required>
                            <option value="">---{{'validationTexts.SELECT_REFERRAL' | translate}}---</option>
                        </select>
                        <p class="help-block">
                            <span ng-show="userForm.referral.$invalid && !userForm.referral.$pristine">Se requiere una derivación.</span>

                        </p>
                    </div>





                    <div class="checkbox reg-confirm-checkbox" ng-class="{ 'has-error' : userForm.agree.$invalid && !userForm.agree.$pristine, 'has-success' : userForm.agree.$valid && !userForm.agree.$pristine}">
                        <label  class="checkbox checkbox-custom white-text">
                            <input type="checkbox" name="agree" id="agree" ng-model="user.agree" required><i></i> {{'signUpScreenTexts.I_AGREE' | translate}} <a ui-sref="app.privacyPolicy">{{'menuTexts.PRIVACY_POLICY' | translate}} :: </a>
                            <a ui-sref="app.disclaimer"> {{'menuTexts.DISCLAIMER' | translate}} </a>
                            <a ui-sref="app.conditionOfUse">:: {{'menuTexts.CONDITION_OF_USE' | translate}}</a>
                        </label>
                        <p class="help-block">
                            <span ng-show="userForm.agree.$invalid && !userForm.agree.$pristine">{{'validationTexts.YOU_HAVE_TO_AGREE_SIGNUP' | translate}}</span>
                        </p>
                    </div>


                    <div class="form-group" ng-class="{'has-error':userForm.recaptcha.$invalid && !userForm.recaptcha.$pristine}">
                        <div    name="recaptcha"
                                vc-recaptcha
                                ng-model="user.key"
                                required
                                ></div>
                        <p class="help-block">
                            <span  ng-show="userForm.recaptcha.$invalid && !userForm.recaptcha.$pristine">Se requiere Captcha.</span>
                        </p>
                    </div>



                    <div class="form-group text-left mt-20 margin-top-35">
                        <button type="submit" class="myBtn app-btn orange-btn max-large-btn">{{'signInScreenTexts.JOIN' | translate}}</button>


                        <div class="form-group text-left mt-20" data-ng-controller ="LoginCtrl">
                            <p class="white-text lato">{{'signInScreenTexts.OR_LOGIN_WITH' | translate}}</p>

                            <button ng-click="loginSocial('facebook')" type="button" class="myBtn orange-btn facebook-btn"><i class="fa fa-facebook"></i></button>
                            <button ng-click="loginSocial('google')" type="button" class="myBtn orange-btn google-btn"><i class="fa fa-google-plus"></i></button>

                        </div>



                    </div>
                    <div class="text-center white-text margin-top-35">
                        Ya tienes una cuenta?&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="app.login">Inicia sesión ahora</a>
                    </div>




                </div>


            </div>
            </form>
        </div>


    </div>


</div>


<script type="text/ng-template" id="myModalContent">

    <div class="modal-body" style="padding: 0px" ng-click="closeModal()">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="assets/images/portfolio/Promoxiamos_sliderhome_con_caja_texto.jpg"/>
        </div>
    </div>
</script>



