<div class="compare-page-head-banner">

</div>
<section class="compare-page ">

    <div class="content-wrap mid-section">

        <div class="section mid-section compare-page-header-section contact-section">
            <div class="container clearfix">

                <div class="row">

                    <div ng-if="deal.bookContactMethod=='buyerToSeller'" class="col-md-10">
                        <div class="book-title-header">
                            <h1 class="uppercase"><strong>{{'buyBookScreenTexts.YOU_NEED_TO_CONTACT_SELLER' | translate}} ({{deal.username}})
                                </strong></h1>
                            <hr/>
                        </div>
                        <div>
                            <p class="book-subtitle-header">¡Comprar libros de otros estudiantes, puede ser tan sencillo!</p>

                            <p>
                                {{'buyBookScreenTexts.THE_SELLER_OF_THIS_BOOK_WANTS_YOU'| translate:'{username:deal.username}'}} <b> {{'buyBookScreenTexts.YOU_TO_CONATCT'| translate}}</b>.
                                {{'buyBookScreenTexts.PROVIDE_YOUR_EMAIL_BELOW'| translate}}

                            </p>
                        </div>
                    </div>

                    <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="col-md-10">
                        <div class="book-title-header">
                            <h1 class="uppercase"><strong>
                                {{'buyBookScreenTexts.SELLER' | translate}} ({{deal.username}}) {{'buyBookScreenTexts.WILL_CONTACT_YOU' | translate}}</strong>
                            </h1>
                            <hr/>
                        </div>
                        <div>
                            <p class="book-subtitle-header">¡Puede ser tan sencillo comprar libros de otros estudiantes!</p>

                            <p>
                                {{'buyBookScreenTexts.THE_SELLER' | translate}} ({{deal.username}}) {{'buyBookScreenTexts.OF_THIS_BOOK_WANTS' | translate}}
                            </p>
                        </div>
                    </div>

                    <div ng-if="deal.bookContactMethod=='student2studentBoard'" class="col-md-10">
                        <div class="book-title-header">
                            <h1 class="uppercase"><strong>
                                {{'buyBookScreenTexts.SEND_MESSAGE_TO_SELLER' | translate:'{userName:deal.username}'}}</strong></h1>
                            <hr/>
                        </div>
                        <div>
                            <p class="book-subtitle-header">¡Puede ser tan sencillo comprar libros de otros estudiantes!</p>

                            <p>
                                {{'buyBookScreenTexts.IN_THIS_METHOD_YOU_AND_SELLER' | translate}}

                            </p>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="big-price"><h1 class="big-price-number orange-text lato">
                            <strong>€{{deal.bookPriceSell.replace(".",",")}}</strong></h1></div>
                    </div>


                </div>


            </div>
        </div>

        <div class="section mid-section specification-section">
            <div class="container clearfix">

                <div class="row specification-row">

                    <div cg-busy="{promise:contactPromise}" class="col-md-offset-2 col-md-6">
                        <form name="contactForm" submit-validate ng-submit="contactSeller(contactForm.$valid)"
                              role="form" novalidate>


                            <div class="tile-body">


                                <div ng-show="!$parent.loggedIn" class="form-group">

                                    <p class="" for="username">Nombre: </p>
                                    <input type="text" name="username" id="username" class="form-control "
                                           ng-model="contact.buyerNickName">

                                </div>

                                <div ng-if="deal.bookContactMethod=='sellerToBuyer' || deal.bookContactMethod=='buyerToSeller'"
                                     class="form-group"
                                     ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success' : contactForm.email.$valid && !contactForm.email.$pristine}">

                                    <p class="" for="email">{{'placeholderTexts.EMAIL' | translate}}: </p>
                                    <input type="email" name="email" id="email" class="form-control "
                                           ng-model="contact.buyerEmail" required>

                                    <p class="help-block">
                                        <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Email Obligatorio.</span>
                                    </p>
                                </div>

                                <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                    <p class="" for="cellNumber">Numero de celular: </p>
                                    <input type="text" name="cellNumber" id="cellNumber" class="form-control "
                                           ng-model="contact.buyerCellPhone">

                                </div>

                                <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                    <p class="" for="homeNumber">Número de casa: </p>
                                    <input type="text" name="homeNumber" id="homeNumber" class="form-control "
                                           ng-model="contact.buyerHomePhone">

                                </div>

                                <div ng-if="deal.bookContactMethod=='student2studentBoard'" class="form-group">
                                    <p class="lato px-16" >A: <strong>{{deal.username}}</strong></p>
                                </div>

                                <div class="form-group"
                                     ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success' : contactForm.message.$valid && !contactForm.message.$pristine}">

                                    <p class="" for="message">{{'placeholderTexts.MESSAGE' | translate}}: </p>
                                    <textarea rows="5" type="text" name="message" id="message" class="form-control "
                                              ng-model="contact.messages[0].messageBody" required></textarea>

                                    <p class="help-block">
                                        <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Mensaje Requerido.</span>

                                    </p>
                                </div>



                                <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                    <div class="form-group text-left mt-20">
                                        <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Envíele al vendedor su información
                                        </button>
                                    </div>

                                </div>
                                <div ng-if="deal.bookContactMethod=='buyerToSeller'" class="form-group">

                                    <div class="form-group text-left mt-20">
                                        <button type="submit" class="myBtn app-btn orange-btn max-large-btn">OBTENER DETALLES DEL VENDEDOR
                                        </button>
                                    </div>


                                </div>
                                <div ng-if="deal.bookContactMethod=='student2studentBoard'" class="form-group">

                                    <div class="form-group text-left mt-20">
                                        <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Enviar mensaje al vendedor
                                        </button>
                                    </div>

                                </div>


                            </div>

                        </form>
                    </div>
                    <div class="col-md-4">


                    </div>


                </div>
                <br/><br/><br/>


            </div>
        </div>


    </div>

</section>


