<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-6">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Condiciones

                        </strong>

                    </p>

                    <p class=" text-right open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;De</text>
                        <text class="uppercase orange-text">Uso</text>
                    </strong></p>

                </div>

            </div>


            <div class="col-md-6 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-files-o" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
<div class="container clearfix quote-container-homepage">
<div class="row">


<div class="col-md-12 mid-three-uni-quote-col page-text-side ">


<p>Bienvenido a student2student.es. Student2Student facilita funcionalidades de página web, sujetas a las siguientes
    condiciones. Al visitar, realizar intercambios o comprar en Student2Student, aceptas implícitamente estas
    condiciones. Por favor, léelas con atención. Si no estás de acuerdo con algún término o condición incluida en dichas
    Condiciones de Uso, cualquier modificación subsecuente a estas o cualquier regla general en ellas o en el caso de
    que te sientas insatisfecho usando Student2Student de alguna forma, tu única opción es dejar de usar Student2Student
    inmediatamente.
</p>

<p class="blue-text lato uppercase heading-text">PRIVACIDAD</p>

<p>Por favor, revisa nuestra Política de Privacidad, la cual también rige tu visita a Student 2 Student, para entender
    nuestras prácticas. El uso de la página web Student 2 Student o el Servicio, significan que conoces y aceptas
    nuestra Política de Privacidad.
</p>

<p class="blue-text lato uppercase heading-text">MODIFICACIONES EN ESTE ACUERDO</p>

<p>Nos reservamos el derecho, bajo nuestra única discreción, de cambiar, modificar o de otra forma alterar estos
    términos y condiciones en cualquier momento. Dichas modificaciones se harán efectivas inmediatamente después de su
    publicación. Para tener conocimiento de cualquier cambio, debes revisar este acuerdo regularmente.
</p>

<p class="blue-text lato uppercase heading-text">COMUNICACIONES ELECTRÓNICAS</p>

<p>Cuando visitas Student 2 Student o nos envías emails, te comunicarás con nosotros electrónicamente. Aceptas recibir
    comunicaciones nuestras electrónicamente. De igual manera, nosotros nos comunicaremos contigo por email o publicando
    avisos en esta página. Aceptas que todos los acuerdos, avisos, divulgaciones y otras comunicaciones que te proveamos
    electrónicamente satisfacen cualquier requerimiento legal que ese tipo de comunicaciones sean por escrito.
</p>

<p class="blue-text lato uppercase heading-text">DERECHOS DE AUTOR</p>

<p>Todo el contenido incluido en esta página web, como texto, gráficos, logos, íconos de botones, imágenes, clips de
    audio, descargas digitales, compilaciones de datos y software son propiedad de Student 2 Student o sus proveedores
    de contenido. La compilación de todo el contenido en esta página es propiedad exclusiva de Student 2 Student. Así
    como todo el software utilizado en el o en sus proveedores.
</p>

<p class="blue-text lato uppercase heading-text">LICENCIA Y ACCESO AL PAGINA</p>

<p>Student 2 Student te otorga una licencia limitada para acceder y hacer uso personal de esta página y no descargarla
    (además de guardar páginas en el caché de su navegador) ni modificarla, en su totalidad o parcialmente, excepto con
    un permiso expreso por escrito de Student 2 Student. Esta licencia no incluye ningún uso de reventa ni comercial de
    esta página o sus contenidos; cualquier colección y uso de cualquier enumeración, descripción o precios de
    productos; cualquier uso derivado de esta página o sus contenidos; cualquier descarga o copia de información de
    cuentas para el beneficio de otro comerciante; o cualquier uso para minería de datos, robots o herramientas
    similares de recolección y extracción de datos. Esta página o cualquier parte de ella, no puede ser reproducida,
    duplicada, copiada, vendida, revendida, visitada o explotada de otra forma o para cualquier otro propósito
    comercial, sin el consentimiento expreso por escrito de Student 2 Student. No usarás ninguna técnica enmarcada para
    ocultar ninguna marca registrada, logo o cualquier otra información de propiedad (incluyendo imágenes, texto, diseño
    de página o forma) de Student 2 Student sin consentimiento expreso y por escrito. No puedes usar ninguna
    meta-etiqueta, ni ningún otro "texto oculto", utilizando el nombre o marcas registradas de Student 2 Student, sin el
    consentimiento expreso escrito de Student 2 Student. Cualquier uso sin autorización implica la cancelación del
    permiso o licencia otorgada por Student 2 Student. Se te otorga un derecho limitado, revocable y no-exclusivo de
    crear un enlace a la página de inicio de Student 2 Student, siempre y cuando, el enlace no refleje a Student 2
    Student, o sus productos o servicios, de forma falsa, engañosa, despectiva u de otra forma ofensiva. No puedes usar
    ningún logo de Student 2 Student, ni ningún otro gráfico o marca registrada de nuestra propiedad, como parte del
    enlace sin permiso y por escrito.
</p>

<p class="blue-text lato uppercase heading-text">SU CUENTA</p>

<p>Si usas esta página, eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y restringir el
    acceso a tu ordenador personal. Aceptas la responsabilidad por todas las actividades que ocurran con tu cuenta o
    contraseña. Si eres menor de 18 años, puedes usar Student 2 Student sólo con la participación de un padre o tutor.
    Student 2 Student se reserva el derecho de rehusar el servicio, terminar cuentas, eliminar o editar contenido o
    cancelar órdenes bajo su única discreción.
</p>

<p class="blue-text lato uppercase heading-text">RESEÑAS, COMENTARIOS, COMUNICACIONES, Y OTROS CONTENIDOS</p>

<p>Los visitantes pueden publicar reseñas, comentarios, fotos, y otro contenido; otras comunicaciones; y enviar
    sugerencias, ideas, comentarios, preguntas u otra información, siempre y cuando el contenido no sea ilegal, obsceno,
    amenazante, difamatorio, invasivo de la privacidad, contenido que infrinja derechos de propiedad intelectual, o de
    otra forma injurioso a terceros u objetable, y no consiste en, o contiene, virus de software, campañas políticas,
    solicitación comercial, cartas de cadena, correos masivos, o cualquier otro tipo de "spam". No puedes usar una
    dirección de email falsa, suplantar a ninguna persona o entidad, o engañar de otra forma el origen de una tarjeta u
    otro contenido. Student 2 Student se reserva el derecho (pero no la obligación) de eliminar o editar contenido así,
    pero no revisa regularmente el contenido publicado.
</p>

<p>Si publicas contenido o subes material, y a menos que te indiquemos lo contrario, otorgas a Student 2 Student el
    derecho no-exclusivo, libre de regalías, perpetuo, irrevocable y completamente sublicenciable, de usar, reproducir,
    modificar, adaptar, publicar, traducir, usar para crear trabajos derivados, distribuir, y mostrar dicho contenido al
    mundo por cualquier medio. Otorgas a Student 2 Student y sub-licenciados el derecho de usar el nombre que subas en
    conexión con ese contenido, si ellos deciden hacerlo. Representas y garantizas que posees o de otra forma tienes
    control, sobre todos los derechos del contenido que publicas; que el contenido es preciso; que el uso del contenido
    que provees no viola esta política y no le causa daño a ninguna persona o entidad y que indemnizarás a Student 2
    Student por cualquier demanda que se dé por el contenido que publicas. Student 2 Student tiene el derecho, pero no
    la obligación, de monitorear y editar o eliminar cualquier actividad o contenido. Student 2 Student no se hace
    responsable de ningún contenido publicado por ningún usuario. Aceptas que Student 2 Student no pre-filtra o aprueba
    el Contenido, pero que Student 2 Student tendrá el derecho (pero no la obligación) bajo su sola discreción de
    rechazar, borrar o desplazar cualquier Contenido que se encuentre disponible en el Servidor, por violar la letra o
    espíritu de las Condiciones de Uso, o por cualquier otra razón.
</p>

<p class="blue-text lato uppercase heading-text">CONTENIDO, SITIOS Y SERVICIOS DE TERCEROS</p>

<p>El sitio Student 2 Student y Contenido disponible a través del Servicio puede contener características y
    funcionalidades que podrían enlazarlo a, o proveerle acceso a, contenido de terceros que es completamente
    independiente de Student 2 Student, incluyendo sitios web, directorios, servidores, redes, sistemas, información y
    bases de datos, aplicaciones, software, programas, productos o servicios, y el Internet como tal. </p>

<p>Sus interacciones con organizaciones y/o individuos encontrados a través del Servicio, incluyendo el pago y entrega
    de bienes y servicios, y cualquier otro término, condición, garantía o representación asociada con transacciones
    así, son enteramente entre usted y esas organizaciones y/o individuos. Usted debería investigar tanto como crea
    necesario o apropiado antes de proceder con cualquier transacción en línea o en el mundo real con cualquiera de
    estos terceros. </p>

<p>Estás de acuerdo con que Student 2 Student no se hará responsable por ninguna pérdida o daño de ningún tipo que se dé
    como resultado de cualquier transacción así. Si se da una disputa entre los participantes de esta página, o entre
    los usuarios y algún tercero, entiendes y estás de acuerdo con que Student 2 Student no tiene obligación de
    involucrarse. En el evento de que tengas una disputa con uno o más usuarios, renuncias a Student 2 Student, sus
    oficiales, empleados, agentes y sucesores, en derechos de declaraciones, demandas y daños (actuales y consecuentes)
    de cualquier tipo de naturaleza, conocidos o desconocidos, sospechados o insospechados, divulgados o no-divulgados,
    dándose por, o de alguna forma relacionados con esas disputas y/o nuestro servicio. Si resides en California,
    dispensas la Sección 1542 del Código Civil de California, la cual dice: "Una renuncia general no se extiende a
    declaraciones las cuales el acreedor no conoce o sospecha que existen a su favor al momento de ejecutar la renuncia,
    la cual, si se conoce por él o ella, debe haber afectado materialmente este acuerdo con el deudor." </p>

<p class="blue-text lato uppercase heading-text">CONDUCTA</p>

<p>Aceptas no publicar, enviar por email, o de otra forma hacer disponible Contenido: </p>
<ul class="text-list">
    <li><span>que sea ilegal, dañino, amenazante, abusivo, acosador, difamatorio, calumnioso, invasivo de la privacidad de otros, o que de cualquier forma sea dañino para menores. </span>
    </li>
    <li>
        <span>que sea pornográfico o muestre a un humano realizando actividades sexuales reales. </span>
    </li>
    <li><span>que acose, degrade, intimide o exprese odio hacia un individuo o grupo de individuos con base a su religión, sexo, orientación sexual, raza, etnia, edad, o incapacidad; </span>
    </li>
    <li><span>que viole el Acto de Alojamiento Justo al declarar, en cualquier aviso o anuncio para la venta o renta de cualquier morada, una preferencia discriminatoria basada en raza, color, origen nacional, religión, sexo, estado familiar, o incapacidad (o viole cualquier ley estatal o local que prohíbe la discriminación basada en estas u otras características); </span>
    </li>
    <li><span>que viole las leyes de oportunidad de empleo  estatales o locales, incluyendo, pero no limitado a, declarar en cualquier anuncio para empleo una preferencia o requerimiento basada en raza, color, religión, sexo, origen nacional, edad o incapacidad. </span>
    </li>
    <li><span>que incluya información personal o de identificación sobre otra persona, sin el consentimiento expreso de esa persona; </span>
    </li>
    <li><span>que sea falso, engañoso, que proporcione información incorrecta, o que constituya señuelo para garantizar el cambio";</span>
    </li>
    <li><span>que infrinja alguna patente, marca registrada, secreto comercial, derecho de autor, u otros derechos de propiedad de alguna entidad, o Contenido al cual no tienes derecho a hacer disponible bajo ninguna ley, o bajo relaciones Contractuales o fideicomisarias; </span>
    </li>
    <li><span>que constituya o contenga "marketing de afiliación", "códigos de referido", "correo basura", "spam", "correos de cadena", "planes piramidales", o anuncios comerciales no solicitados; </span>
    </li>
    <li><span>que constituya o contenga alguna forma de anuncio o reclamo comercial. </span></li>
    <li><span>que incluya enlaces a servicios o sitios web comerciales, excepto cuando sea permitido por Student 2 Student. </span>
    </li>
    <li><span>que contenga virus de software o cualquier código de ordenador personal , archivos, o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software, hardware, o equipo de telecomunicaciones;</span>
    </li>
    <li><span>que perturbe el flujo normal de diálogo con una cantidad excesiva de Contenido (ataque de desbordamiento) al Servidor, o que de otra forma afecte negativamente la habilidad de otros usuarios de usar el servicio; o</span>
    </li>
    <li><span>que emplee direcciones de email engañosas, o títulos forjados, o de otra forma identificadores manipulados, para disfrazar el origen del Contenido transmitido a través del Servicio.</span>
    </li>
</ul>
<br/>

<p class="blue-text lato sub-heading-text">Adicionalmente, aceptas no:</p>
<ul class="text-list">
    <li><span>contactar a cualquiera que haya pedido no ser contactado, ni realizar contactos no solicitados con fines comerciales a nadie; </span>
    </li>
    <li><span>"acechar" o de otra forma acosar a nadie; </span></li>
    <li>
        <span>recolectar datos personales sobre otros usuarios para propósitos comerciales o ilegales; </span>
    </li>
    <li><span>usar métodos automáticos, incluyendo arañas web, robots, rastreadores, herramientas de extraccion de datos, o similares, para descargar datos del Servicio. A menos que sea expresamente permitido por Student 2 Student; </span>
    </li>
    <li><span>Publicar Contenido no-local, o de otra forma irrelevante, publicando repetidamente contenido similar o el mismo, o de otra forma imponiendo una carga irrazonable o desproporcionadamente larga sobre nuestra infraestructura; </span>
    </li>
    <li><span>Intentar obtener acceso no-autorizado a los sistemas de Student 2 Student, o participar en cualquier actividad que perturbe, reduzca la calidad de, interfiera con el desempeño de, o perjudique la funcionalidad de, el Servicio del página web de Student 2 Student; o</span>
    </li>
    <li><span>Usar ningún dispositivo automático ni programa de ordenador de ningún tipo que permita subir publicaciones a Student 2 Student sin que cada publicación sea ingresada manualmente por el autor (un "dispositivo de publicación automática"), incluyendo, sin limitación, el uso de un dispositivo de publicación automática como ese para subir publicaciones en masa, o para subir publicaciones automáticas en intervalos regulares. </span>
    </li>
</ul>
<p class="blue-text lato uppercase heading-text">POLÍTICA DE CERO SPAM</p>

<p>Entiendes y estás de acuerdo con que enviar anuncios no solicitados por email a las direcciones de email de Student 2
    Student, o a través de los sistemas de Student 2 Student, lo cual está expresamente prohibido por estas Condiciones.
    Cualquier uso sin autorización de los sistemas de Student 2 Student es una violación de estas Condiciones.</p>

<p class="blue-text lato uppercase heading-text">LIMITACIONES DEL SERVICIO</p>

<p>Aceptas que Student 2 Student pueda establecer límites en cuanto al uso de este Servicio, incluyendo el número máximo
    de días que el contenido sea retenido por el servicio, el número máximo y tamaño de publicaciones, mensajes de email
    y otros contenidos que pueden ser transmitidos o guardados por el Servicio y la frecuencia con la cual podrías
    acceder al Servicio. Aceptas que Student 2 Student no se hace responsable de la eliminación o fallo en
    almacenamiento de cualquier Contenido mantenido o transmitido por el Servicio. Aceptas que Student 2 Student se
    reserva el derecho, en cualquier momento, de modificar o descontinuar el Servicio (o cualquier parte de este), con o
    sin previo aviso y que Student 2 Student no se responsabilizará, de cualquier modificación, suspensión o
    interrupción del servicio.

</p>

<p class="blue-text lato uppercase heading-text">FINALIZACION DE SERVICIO</p>

<p>Estás de acuerdo con que Student 2 Student, bajo su única discreción, tiene el derecho (pero no la obligación) de
    borrar o desactivar tu cuenta, bloquear tu email o dirección IP u otra forma de terminar tu acceso a, o la
    utilización del Servicio (o cualquier parte de este), inmediatamente y sin previo aviso, y eliminar y/o descartar
    cualquier contenido dentro de éste, por cualquier razón, incluyendo, la no limitación, en caso de que Student 2
    Student crea que has actuado de forma inconsistente con las Condiciones de Uso. Además, aceptas que Student 2
    Student no se hará responsable de cualquier terminación de servicio. Adicionalmente, estás de acuerdo con no
    intentar utilizar el Servicio después de dicha terminación.
</p>

<p class="blue-text lato uppercase heading-text">RECLAMACIONES DE DERECHOS DE AUTOR</p>

<p>Student 2 Student respeta la propiedad intelectual de otros. Si crees que tu trabajo ha sido copiado de alguna forma
    que constituya una violación de derechos de autor, por favor informa a Student 2 Student.
</p>

<p class="blue-text lato uppercase heading-text">DESCRIPCIONES DE PRODUCTOS</p>

<p>Student 2 Student intenta ser tan preciso como sea posible. Sin embargo, no garantiza que las descripciones de
    productos, u otros contenidos en esta página, sean precisas, completas, confiables, actuales o estén libres de
    errores.</p>

<p class="blue-text lato uppercase heading-text">PRECIOS</p>

<p>Por favor, toma nota que Student 2 Student no vende ningún producto. Puedes comprar a terceros usando la plataforma
    Student 2 Student. Student 2 Student no se hace responsable del precio que pongan otros vendedores, en caso de que
    un artículo tenga un precio equivocado.
</p>

<p class="blue-text lato uppercase heading-text">OTROS NEGOCIOS</p>

<p>Entidades diferentes a Student 2 Student proveen servicios o venden líneas de productos, en esta página. Además
    facilitamos enlaces a páginas de compañías afiliadas. No nos hacemos responsables de examinar ni evaluar, tampoco
    ofrecemos ninguna garantía sobre los productos o servicios ofrecidos por terceros en sus páginas web. Student 2
    Student no asume ninguna responsabilidad por las acciones, productos y contenidos de todos estos y cualquier otro
    tercero. Deberías revisar cuidadosamente sus políticas de privacidad y otras condiciones de uso.
</p>

<p class="blue-text lato uppercase heading-text">RENUNCIA DE GARANTIAS Y LIMITACION DE RESPONSABILIDAD</p>

<p>ESTA PAGINA WEB Y TODA LA INFORMACIÓN, CONTENIDOS, MATERIALES, PRODUCTOS (INCLUYENDO SOFTWARE) Y SERVICIOS INCLUIDOS
    EN, O DE OTRA FORMA PUESTOS A DISPOSICION A TRAVÉS DE ESTA PAGINA, SON PROVEÍDOS POR STUDENT 2 STUDENT "TAL COMO
    ESTÁN", A MENOS QUE SE ESPECIFIQUE LO CONTRARIO POR ESCRITO. Student 2 Student NO DA DECLARACIÓN NI GARANTÍA DE
    NINGÚN TIPO, EXPRESA O IMPLÍCITA, EN CUANTO A LA OPERACIÓN DE ESTA PAGINA O LA INFORMACIÓN, CONTENIDO, MATERIALES,
    PRODUCTOS (INCLUYENDO SOFTWARE) O SERVICIOS INCLUIDOS O DE OTRA FORMA PUESTOS A DIPOSICION, A TRAVÉS DE ESTA PAGINA,
    A MENOS QUE SE ESPECIFIQUE LO CONTRARIO POR ESCRITO. ACEPTAS EXPRESAMENTE QUE USAS ESTA PAGINA BAJO TU PROPIO
    RIESGO. HASTA EL MAYOR ALCANCE PERMITIDO POR LA LEY APLICABLE, STUDENT 2 STUDENT RENUNCIA A TODAS LAS GARANTÍAS,
    EXPRESAS O IMPLÍCITAS. STUDENT 2 STUDENT NO GARANTIZA QUE ESTA PAGINA; INFORMACIÓN, CONTENIDO, MATERIALES, PRODUCTOS
    (INCLUYENDO SOFTWARE) O SERVICIOS INCLUIDOS EN, O DE OTRA FORMA PUESTOS A TU DISPOSICION A TRAVÉS DE ESTA PAGINA;
    SUS SERVIDORES; O EMAILS ENVIADOS DESDE STUDENT 2 STUDENT, ESTÉN LIBRES DE VIRUS U OTROS COMPONENTES DAÑINOS.
    STUDENT 2 STUDENT NO SE HARÁ RESPONSABLE DE NINGÚN DAÑO DE NINGÚN TIPO QUE SE DÉ POR EL USO DE ESTA PAGINA O
    CUALQUIER INFORMACIÓN, CONTENIDO, MATERIALES, PRODUCTOS (INCLUYENDO SOFTWARE) O SERVICIOS INCLUIDOS EN, O DE OTRA
    FORMA HECHOS DISPONIBLES A TI A TRAVÉS DE ESTA PÁGINA, INCLUYENDO, PERO NO LIMITADO A, DAÑOS DIRECTOS, INDIRECTOS,
    INCIDENTALES, PUNITIVOS Y CONSIGUIENTES, A MENOS QUE SE ESPECIFIQUE LO CONTRARIO POR ESCRITO. CIERTAS LEYES
    ESTATALES NO PERMITEN LIMITACIONES EN GARANTÍAS IMPLÍCITAS O LA EXCLUSIÓN O LIMITACIÓN DE CIERTOS DAÑOS. SI ESTAS
    LEYES SE APLICAN A TI, ALGUNOS O TODOS LOS DESCARGOS DE RESPONSABILIDAD, EXCLUSIONES, O LIMITACIONES ANTERIORES,
    PUEDEN NO SER APLICABLES, Y PODRÍAN TENER DERECHOS ADICIONALES.
</p>

<p class="blue-text lato uppercase heading-text">LEY APLICABLE</p>

<p>Al visitar Student 2 Student, aceptas las leyes del estado de Zurich en Suiza, sin consideración a los principios de
    conflicto de las leyes, gobernarán estas Condiciones de Uso y cualquier disputa de cualquier tipo que puedan
    generarse entre ti y Student 2 Student.</p>

<p class="blue-text lato uppercase heading-text">POLÍTICAS DEL SITIO, MODIFICACIÓN Y DIVISIBILIDAD</p>

<p>Por favor, revisa nuestras otras políticas publicadas en esta página. Estas políticas también son válidas si visitas
    Student 2 Student. Nos reservamos el derecho de hacer cambios en nuestro sitio, políticas, y en las Condiciones de
    Uso, en cualquier momento. Si cualquiera de esas condiciones fuera declarada inválida, nula, o no aplicable por
    cualquier motivo, tal condición se considerará independiente de todas las restantes.
</p>

</div>

</div>

</div>
</div>


</div>
</section>


