<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-6">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Condiciones

                        </strong>

                    </p>

                    <p class=" text-right open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;De</text>
                        <text class="uppercase orange-text">Uso</text>
                    </strong></p>

                </div>

            </div>


            <div class="col-md-6 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-files-o" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
<div class="container clearfix quote-container-homepage">
<div class="row">


<div class="col-md-12 mid-three-uni-quote-col page-text-side ">


<p>{{'conditionOfUseScreenTexts.WELCOME_TO_STUDENT2STUDENT' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.PRIVACY' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.PLEASE_REVIEW_OUR_POLICY' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.MODIFICATIONS_TO_THIS_AGREEMENT' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.WE_RESERVE_OUR_RIGHT' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.ELECTRONIC_COMMUNICATIONS' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.WHEN_YOU_VISIT_STUDENT2STUDENT' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.COPYRIGHT' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.ALL_CONTECT_INCLUDED' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.LICENSE_AND_SITE_ACCESS' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.STUDENT2STUDENT_GRANTS_YOU' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.YOUR_ACCOUNT' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.IF_YOU_USE_THIS_SITE' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.REVIEWS_COMMENTS_COMMUNICATIONS' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.VISITORS_MAY_POST_RECIEWS' | translate}}
</p>

<p>{{'conditionOfUseScreenTexts.IF_YOU_DO_POST' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.THIRD_PARTY_CONTENT' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.THE_STUDENT2STUDENT_SITE' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.YOUR_INTERACTIONS_WITH_ORGANIZATION' | translate}} </p>

<p>{{'conditionOfUseScreenTexts.YOU_AGREE_THAT_STUDENT2STUDENT' | translate}} </p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.CONDUCT' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.YOU_AGREE_NOT_TO_POST' | translate}} </p>
<ul class="text-list">
    <li><span>{{'conditionOfUseScreenTexts.THAT_IS_UNLAWFUL' | translate}} </span>
    </li>
    <li>
        <span>{{'conditionOfUseScreenTexts.THAT_IS_PORNOGRAPHIC' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_HARNESSES' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_VIOLATES_THE_FAIR' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_VIOLATES_FEDERAL_LAW' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_INCLUDES_PERSONAL_INFO' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_IS_FALSE' | translate}}</span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_INFRINGES_ANY_PATENT' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_CONSTITUTES_OR_CONTAINS_AFFILIATE' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_CONSTITUTES_OR_CONTAINS_SOCIALIZATION' | translate}} </span></li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_INCLUDES_LINKS' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_CONTAINS_SOFTWARE' | translate}}</span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_DISRUPTS' | translate}}</span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.THAT_EMPLOYS' | translate}}</span>
    </li>
</ul>
<br/>

<p class="blue-text lato sub-heading-text">{{'conditionOfUseScreenTexts.ADDITIONALLY_YOU_AGREE' | translate}}</p>
<ul class="text-list">
    <li><span>{{'conditionOfUseScreenTexts.CONTACT_ANYONE_WHO_ASKED' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.STALK_OR_OTHERWISE' | translate}} </span></li>
    <li>
        <span>{{'conditionOfUseScreenTexts.COLLECT_PERSONAL_DATA' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.USE_AUTOMATED_MEANS' | translate}} </span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.POST_NON_LOCAL' | translate}}</span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.ATTEMPT_TO_GAIN_UNAUTHORIZED' | translate}}</span>
    </li>
    <li><span>{{'conditionOfUseScreenTexts.USE_ANY_FORM_OF_AUTOMATED_DFEVICE' | translate}} </span>
    </li>
</ul>
<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.NO_SPAM_POLICY' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.YOU_UNDERSTAND_AND_AGREE' | translate}}</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.LIMITATIONS_ON_SERVICE' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.YOU_ACKNOWLEDGE_THAT_STUDENT2STUDENT' | translate}}

</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.TERMINATION_OF_SERVICE' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.YOU_AGREE_THAT_IN_ITS_SOLE_DIRECTION' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.COPYRIGHT_COMPLAINTS' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.STUDENT2STUDENT_RESPECTS_INTELLECTUAL_PROPERTY' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.PRODUCT_DESCRIPTIONS' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.STUDENT2STUDENT_ATTEMPTS' | translate}}</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.PRICING' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.PLEASE_NOTE_STUDENT2STUDENT_DOES_NOT_SELL' | translate}}</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.OTHER_BUSINESSES' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.PARTIES_OTHER_THEN_STUDENT2STUDENT' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.DISCLAIMER_OF_WARRANTIES_AND_LIMITATION' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.THIS_SITE_AND_ALL_INFORMATION' | translate}}
</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.APPLICABLE_LAW' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.BY_VISITING_STUDENT2STUDENT' | translate}}</p>

<p class="blue-text lato uppercase heading-text">{{'conditionOfUseScreenTexts.SITE_POLICIES_MODIFICATION_AND_SEVERABILITY' | translate}}</p>

<p>{{'conditionOfUseScreenTexts.PLEASE_REVIEW_OUR_POLICY_POSTED_HERE' | translate}}</p>
</div>

</div>

</div>
</div>


</div>
</section>


