<div class="contact-us-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">


            </div>
        </div>
    </div>
</div>


<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

    <div class="container clearfix">

        <div class="row">


            <!-- BLOG POSTS -->
            <div class="col-sm-6 col-md-9 col-lg-9 blog-posts contact-us-form-div">

                <div class="contact-page-left-side">

                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="lato form-page-header">Contáctenos</h1>
                            <h4 class="lato">Díle a Student 2 Student lo que necesita...</h4>
                        </div>
                        <div class="col-md-12">
                            <p class="grey-text lato">
                                Student 2 Student  agradece cualquier comentario que pueda mejoras nuestro servicio.<br/>
                                Nuestro objetivo es ayudar a los estudiantes ahorrar dinero en los libros de texto.<br/>
                                O ayudarle a vender  aquellos libros que ya no necesite<br/>

                            </p>

                        </div>
                    </div>

                    <form cg-busy="{promise:contactUsPromise}" name="contactUsForm" role="form" ng-submit="sendMessage(contactUsForm.$valid)" submit-validate novalidate class="form-validation">
                        <div class="row contact-form-start-div">


                            <div class="col-md-6">
                                <text class="lato px-18">Nombre Completo *</text>
                                <br/>

                                <div ng-class="{ 'has-error' : contactUsForm.fullName.$invalid && !contactUsForm.fullName.$pristine, 'has-success' : contactUsForm.fullName.$valid && !contactUsForm.fullName.$pristine}">

                                    <input type="text" class="form-control" name="fullName" ng-model="fullName" placeholder="Tu nombre completo"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.fullName.$invalid && !contactUsForm.fullName.$pristine">Nombre completo es obligatorio.</span>

                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <text class="lato px-18">Email *</text>
                                <br/>

                                <div ng-class="{ 'has-error' : contactUsForm.email.$invalid && !contactUsForm.email.$pristine, 'has-success' : contactUsForm.email.$valid && !contactUsForm.email.$pristine}">

                                    <input type="email" class="form-control" name="email" ng-model="email" placeholder="you@yourmail.com"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.email.$invalid && !contactUsForm.email.$pristine">Se requiere Email.</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">Asunto *</text>
                                <br/>

                                <div ng-class="{ 'has-error' : contactUsForm.subject.$invalid && !contactUsForm.subject.$pristine, 'has-success' : contactUsForm.subject.$valid && !contactUsForm.subject.$pristine}">

                                    <input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Asunto de la consulta"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.subject.$invalid && !contactUsForm.subject.$pristine">Se requiere Asunto.</span>

                                    </p>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">Tu Mensaje *</text>
                                <br/>

                                <div ng-class="{ 'has-error' : contactUsForm.message.$invalid && !contactUsForm.message.$pristine, 'has-success' : contactUsForm.message.$valid && !contactUsForm.message.$pristine}">

                                    <textarea type="text" class="form-control" name="message" placeholder="Escribe el mensaje..."
                                              ng-model="message" required></textarea>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.message.$invalid && !contactUsForm.message.$pristine">Su mensaje es obligatorio.</span>

                                    </p>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">Yo quiero :</text>
                                <br/>

                                <div ng-class="{ 'has-error' : contactUsForm.want.$invalid && !contactUsForm.want.$pristine, 'has-success' : contactUsForm.want.$valid && !contactUsForm.want.$pristine}">

                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Feedback" required><i></i> Respuesta
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Administrative Support" required><i></i> Ayuda Administrativa
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Technical Support" required><i></i> Soporte Técnico
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Suggestion" required><i></i> Sugerencia
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Question" required><i></i> Alguna otra pregunta?
                                    </label>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.want.$invalid && !contactUsForm.want.$pristine">Tienes que seleccionar lo que quieres.</span>

                                    </p>
                                </div>

                            </div>

                        </div>
<br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':contactUsForm.recaptcha.$invalid && !contactUsForm.recaptcha.$pristine}">
                                    <div    name="recaptcha"
                                            theme="light"
                                            vc-recaptcha
                                            ng-model="key"
                                            required
                                            ></div>
                                    <p class="help-block">
                                        <span  ng-show="contactUsForm.recaptcha.$invalid && !contactUsForm.recaptcha.$pristine">Se requiere Captcha.</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-md-12">
                                <button type="submit" class="myBtn orange-btn contact-form-submit-button">Enviar</button>

                            </div>

                        </div>

                    </form>
                </div>


            </div>
            <!-- END BLOG POSTS -->

            <!-- BLOG SIDEBAR -->
            <div class="col-sm-6 col-md-3 col-lg-3 sidebar contact-us-page-right-bar">

                <div class="blue-background right-head-text">
                    <p class="white-text lato px-16">
                        <iframe style=" border-radius: 4px;" width="100%" height="120" src="https://www.youtube.com/embed/lXvwHtAXAXQ" frameborder="0" allowfullscreen></iframe>
                        <a ui-sref="app.conceptVideo">Esta</a> es la cosa más fácil que harás durante todo el semestre. No realmente.<br/>
                        Aquí está cómo el sistema simple, rápido, del student 2 student trabaja para hacer su vida más fácil.

                    </p>
                </div>
                <div class="white-background right-head-text text-center right-white-div">
                    <div class="follow-us-head-text">
                        <span class="follow-us-header lato orange-text uppercase px-16"><strong>Síguenos</strong></span><br/>
                    </div>

                    <div class="follow-us-logos-div-contact-us text-center">
                        <a target="_blank" href="{{twitterLink}}"><div class="follow-twitter white-text"><i class="fa fa-twitter fa-2x"></i></div></a>
                        <a target="_blank" href="{{facebookLink}}"><div class="follow-facebook  white-text"><i class="fa fa-facebook fa-2x"></i></div></a>

                    </div>
                    <div class="follow-us-head-text">
                        <span class=" follow-us-header lato orange-text uppercase px-16"><strong>ENLACES RÁPIDOS</strong></span>
                    </div>

                    <div class="quick-links">
                        <ul class="footer-useful-links-ul lato grey-text">
                            <li>
                                <a ui-sref="app.howItWorks">&nbsp;Cómo funciona</a>
                            </li>
                            <li>
                                <a ui-sref="app.news">&nbsp;Noticias</a>
                            </li>
                            <li>
                                <a ui-sref="app.signup">&nbsp;Unirse</a>
                            </li>
                            <li>
                                <a ui-sref="app.bookBuy">&nbsp;Buscar</a>
                            </li>
                            <li>
                                <a ui-sref="app.addUniversity">&nbsp;Añadir una nueva universidad</a>
                            </li>
                            <li>
                                <a ui-sref="app.faq">&nbsp;PMF</a>
                            </li>

                        </ul>
                    </div>


                </div>

            </div>
            <!-- END BLOG SIDEBAR -->

        </div>
        <!-- blog -->


    </div>


</div>
</section>

