<home-slider>
<section id="slider" class="slider-parallax">

<!--
#################################
    - THEMEPUNCH BANNER -
#################################
-->

<div class="tp-banner-container">

<div class="home-slider-form-div">


    <div class="tp-caption big-text text-white skewfromleft fadeout">
        Intercambio Fácil de Libros de Texto
    </div>

    <!-- LAYER NR. 2 -->

    <div style="margin-bottom: 10px;"
         class="tp-caption light_normal_22 no-middle-man text-center skewfromright fadeout">
        SIN INTERMEDIARIOS | EN EL CAMPUS | COMPARACIÓN DE PRECIOS
    </div>
    <div class="tp-caption light_normal_22 skewfromright fadeout slider-form-container"
         data-x="50"
         data-y="300"
         data-speed="800"
         data-start="1000"
         data-easing="easeOutQuad"
         data-endspeed="1000"
         data-endeasing="Power4.easeIn" style="white-space: normal;">
        <form name="bookSearchForm" submit-validate ng-submit="searchBook(bookSearchForm.$valid)"
              role="form" novalidate>
            <div ng-class="{ 'has-error' : bookSearchForm.searchText.$invalid && !bookSearchForm.searchText.$pristine, 'has-success' : bookSearchForm.searchText.$valid && !bookSearchForm.searchText.$pristine}">
                <div class="input-group home-search-bar-input-group m-auto">


                    <input ng-model="searchText" name="searchText" type="text"
                           class="form-control search-input-homepage slider-form"
                           placeholder="Principles of Marketing By Philip Kotler..." required>
                                        <span class="input-group-btn">
                                              <button class="myBtn myBtn-rounded slider-form-button search-homepage-btn"
                                                      type="submit">Encuentra el libro
                                              </button>
                                        </span>
                </div>
                <div>

                    <p class="help-block">
                        <span ng-show="bookSearchForm.searchText.$invalid && !bookSearchForm.searchText.$pristine">Se requiere campo</span>
                    </p>


                </div>
            </div>

        </form>


    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div>

            </div>
        </div>
    </div>

</div>
<div class="tp-banner">


<ul>

<!-- SLIDE  -->
<li class="light" data-transition="fade" data-slotamount="1" data-masterspeed="1000"
    data-thumb="assets/images/slider/bg-1-thumb.jpg">

    <!-- MAIN IMAGE -->
    <img alt="student2student banner 1" src="http://student2student.com/dist/images/slider/1.jpg"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">


    <!-- LAYER NR. 4 -->
    <div
            class="tp-caption light_normal_22 slider-bottom-text light_raleway skewfromright fadeout animate-show"
            data-x="0"
            data-y="600"
            data-speed="800"
            data-start="1000"
            data-easing="easeOutQuad"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn"
            style="width: 680px; max-width: 680px; white-space: normal;">
        Compra y vende libros de texto directamente a otros estudiantes en el campus.<br/>
        sin envío, sin tarjetas de crédito, sin molestias ... ¡Todo gratis!



    </div>


    <!-- LAYER NR. 4 -->
    <!--<button ng-click="rotate(1)">-->
    <a ui-sref="app.conceptVideo">
        <div class="tp-caption light_normal_22 circle_on_banner "
             data-x="1050"
             data-y="580"
             data-speed="800"
             data-start="1000"
             data-easing="easeOutQuad"
             data-endspeed="1000"
             data-endeasing="Power4.easeIn" style="white-space: normal;">

        </div>
    </a>
    <!--</button>-->


</li>

<li class="light" data-transition="fade" data-slotamount="1" data-masterspeed="1000"
    data-thumb="assets/images/slider/bg-1-thumb.jpg">

    <!-- MAIN IMAGE -->
    <img alt="student2student banner 2" src="http://student2student.com/dist/images/slider/2.jpg"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">


    <div
            class="tp-caption light_normal_22 slider-bottom-text light_raleway skewfromright fadeout animate-show"
            data-x="0"
            data-y="600"
            data-speed="800"
            data-start="1000"
            data-easing="easeOutQuad"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn"
            style="width: 680px; max-width: 680px; white-space: normal;">
        Cuando un libro de texto no está todavía disponible en el campus por otro estudiante,<br/>
        Te mostramos el precio más barato entre muchas librerías.



    </div>


    <!-- LAYER NR. 4 -->
    <a ui-sref="app.conceptVideo">
        <div class="tp-caption light_normal_22 circle_on_banner "
             data-x="1050"
             data-y="580"
             data-speed="800"
             data-start="1000"
             data-easing="easeOutQuad"
             data-endspeed="1000"
             data-endeasing="Power4.easeIn" style="white-space: normal;">

        </div>
    </a>

</li>

<li class="light" data-transition="fade" data-slotamount="1" data-masterspeed="1000"
    data-thumb="assets/images/slider/bg-1-thumb.jpg">

    <!-- MAIN IMAGE -->
    <img alt="student2student banner 3" src="http://student2student.com/dist/images/slider/3.jpg"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">


    <div
            class="tp-caption light_normal_22 slider-bottom-text light_raleway skewfromright fadeout animate-show"
            data-x="0"
            data-y="600"
            data-speed="800"
            data-start="1000"
            data-easing="easeOutQuad"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn"
            style="width: 680px; max-width: 680px; white-space: normal;">
        Eliminamos al intermediario y te dejamos vender y<br/>
        comprar todos sus libros de texto directamente a otros estudiantes en el campus.



    </div>


    <!-- LAYER NR. 4 -->
    <a ui-sref="app.conceptVideo">
        <div class="tp-caption light_normal_22 circle_on_banner "
             data-x="1050"
             data-y="580"
             data-speed="800"
             data-start="1000"
             data-easing="easeOutQuad"
             data-endspeed="1000"
             data-endeasing="Power4.easeIn" style="white-space: normal;">

        </div>
    </a>

</li>
<li class="light" data-transition="fade" data-slotamount="1" data-masterspeed="1000"
    data-thumb="assets/images/slider/bg-1-thumb.jpg">

    <!-- MAIN IMAGE -->
    <img alt="student2student banner 4" src="http://student2student.com/dist/images/slider/4.jpg"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">

    <div
            class="tp-caption light_normal_22 slider-bottom-text light_raleway skewfromright fadeout animate-show"
            data-x="0"
            data-y="600"
            data-speed="800"
            data-start="1000"
            data-easing="easeOutQuad"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn"
            style="width: 680px; max-width: 680px; white-space: normal;">
        Te ayudamos a encontrar un nuevo hogar para todos sus libros de texto y<br/>
        Recuperar parte   de la inversión que realizaste en ellos!


    </div>

    <!-- LAYER NR. 4 -->
    <a ui-sref="app.conceptVideo">
        <div class="tp-caption light_normal_22 circle_on_banner "
             data-x="1050"
             data-y="580"
             data-speed="800"
             data-start="1000"
             data-easing="easeOutQuad"
             data-endspeed="1000"
             data-endeasing="Power4.easeIn" style="white-space: normal;">

        </div>
    </a>

</li>
<li class="light" data-transition="fade" data-slotamount="1" data-masterspeed="1000"
    data-thumb="assets/images/slider/bg-1-thumb.jpg">

    <!-- MAIN IMAGE -->
    <img alt="student2student banner 5" src="http://student2student.com/dist/images/slider/5.jpg"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">

    <div
            class="tp-caption light_normal_22 slider-bottom-text light_raleway skewfromright fadeout animate-show"
            data-x="0"
            data-y="600"
            data-speed="800"
            data-start="1000"
            data-easing="easeOutQuad"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn"
            style="width: 680px; max-width: 680px; white-space: normal;">
        Crea una cuenta, publica el libro y véndelo.<br/>
        Reúnete en el campus para hacer el trato.


    </div>


    <!-- LAYER NR. 4 -->
    <a ui-sref="app.conceptVideo">
        <div class="tp-caption light_normal_22 circle_on_banner "
             data-x="1050"
             data-y="580"
             data-speed="800"
             data-start="1000"
             data-easing="easeOutQuad"
             data-endspeed="1000"
             data-endeasing="Power4.easeIn" style="white-space: normal;">

        </div>
    </a>

</li>
</ul>

</div>


</div>
<!-- END REVOLUTION SLIDER -->


</section>


<!-- #slider end -->
</home-slider>

<!-- ============================================
=================== Content =====================
============================================= -->

<section id="content">


<!-- ============ section ============ -->

<!-- /section -->


<div class="content-wrap mid-section">

<div class="section mid-section">
    <div class="container clearfix">

        <div class="row">


            <div class="col-md-6 mid-one-col-top border-right">

                <p class="mid-one-header">Venta de libros de texto</p>

                <p class="mid-one-details">
                    Vende tus libros de texto a los estudiantes que los necesitan y consigue un poco de dinero extra para lo que necesites.


                </p>


            </div>


            <div class="col-md-4 mid-one-col-top padding-left-none">


                <div class="man-image-div">
                    <div class="man-image-outer-circle">
                        <img alt="sell textbooks" src="{{appHostPath}}/dist/images/sections/1.jpg" alt=""
                             class="man-image img-responsive">
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>


        </div>
        <div class="row">


            <div class="col-md-4 col-md-offset-2 mid-one-col-mid border-right padding-right-none">

                <div class="man-image-div">
                    <div class="man-image-outer-circle">
                        <img alt="cheap college textbooks" src="{{appHostPath}}/dist/images/sections/2.jpg" alt=""
                             class="man-image img-responsive">
                    </div>
                </div>


            </div>


            <div class="col-md-6">


                <p class="mid-one-header">Libros de texto universitarios baratos</p>

                <p class="mid-one-details">¿Por qué pagar el precio completo cuando no es necesario? Ahorra dinero comprando libros usados de otros estudiantes.

                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right">

                <p class="mid-one-header">Comparación de precios</p>

                <p class="mid-one-details">Se encuentra su libro de texto usado, le proporcionamos una comparación de precios entre las diferentes webs para que lo pueda conseguir al mejor precio.

                </p>


            </div>


            <div class="col-md-4 padding-left-none">


                <div class="man-image-div">
                    <div class="man-image-outer-circle">
                        <img alt="price comparison" src="{{appHostPath}}/dist/images/sections/3.jpg" alt=""
                             class="man-image img-responsive">
                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>


        </div>
        <div class="row">


            <div class="col-md-4 col-md-offset-2 mid-one-col-bottom border-right padding-right-none">

                <div class="man-image-div">
                    <div class="man-image-outer-circle">
                        <img alt="Directly On-Campus at your College" src="{{appHostPath}}/dist/images/sections/4.jpg"
                             alt="" class="man-image img-responsive">
                    </div>
                </div>


            </div>


            <div class="col-md-6 mid-one-col-bottom">


                <p class="mid-one-header">Directamente en el campus de tu universidad</p>

                <p class="mid-one-details">Nuestro servicio hace que sea fácil encontrar libros de texto usados y
                    baratos en su propio patio trasero. Lo conectaremos con los estudiantes en su propio campus
                    universitario para comprar y vender directamente de personas como usted. Ningún intermediario,
                    ningún precio agudizando!

                </p>


            </div>


        </div>


    </div>
</div>
<!-- ============ Features ============ -->

<!-- ============ Parallax box ============ -->


<div ng-parallax pattern="'assets/images/parallax/mid2.jpg'" offset="-300" speed="5"
     page="'home'"
     class="parallax-box mid-section-two dashboard-sign-up-parallax parallax-1 dark">

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">Regístrese gratis hoy!</p>

                <p class="lead text-white mb-60 mid-two-details">Cuando un libro de texto aún no está disponible en el
                    campus por otro estudiante, le mostramos el precio más barato en línea entre muchas librerías.
                </p>

                <form name="signUpForm" submit-validate ng-submit="showRegister(signUpForm.$valid)" role="form"
                      novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine, 'has-success' : signUpForm.email.$valid && !signUpForm.email.$pristine}">
                        <div class="input-group w-3xl m-auto">
                            <input type="email" ng-model="email" name="email"
                                   class="form-control search-input-homepage sign-up-input-homepage"
                                   placeholder="Tu Email" required>
                                        <span class="input-group-btn">
                                              <button class="myBtn myBtn-rounded search-homepage-btn mid-three-button"
                                                      type="submit">
                                                  Regístrate
                                              </button>
                                        </span>

                        </div>
                        <div class="input-group w-3xl m-auto">

                            <p class="help-block" style="width: 660px;">
                                <span ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">Email es requerido</span>
                            </p>


                        </div>
                    </div>
                </form>

            </div>


        </div>


    </div>
</div>


<!-- /parallax box -->


<!-- ============ heading section ============ -->
<div class="section m-0 pt-0">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-6 mid-three-people-quote-col">
                <div class="">
                    <p class="mid-three-header">Lo que los estudiantes dicen de nosotros</p>


                    <div class="fslider" data-animation="slide" data-arrows="false">
                        <div class="flexslider reference-slider">
                            <div class="slider-wrap">
                                <flex-slider slide="item in peopleQuoteItems track by item.id"
                                             animation="slide">
                                    <li>
                                        <div class="slide">
                                            <div class="media">

                                                <div class="media-body">
                                                    <p class="mid-three-people-quote">{{item.peopleQuote}}</p>

                                                    <div class="mid-three-people">
                                                        <div ng-class="{ 'media-left' :  windowWidth>992}">
                                                            <img alt="{{item.peopleQuote}}"
                                                                 class="media-object thumb img-circle"
                                                                 ng-src="{{imageHostPath}}{{item.peopleImg}}">

                                                        </div>

                                                        <div class="mid-three-people-name">
                                                            <strong>{{item.peopleName}}</strong>,
                                                            <span>{{item.peopleType}}</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </flex-slider>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6 mid-three-uni-quote-col">
                <div class="">
                    <p class="mid-three-header">¡Estamos en todas partes para ti!</p>


                    <div class="fslider" data-animation="slide" data-arrows="false">
                        <div class="flexslider reference-slider">
                            <div class="slider-wrap">
                                <flex-slider slide="item in universityQuoteItems track by item.id"
                                             animation="slide">
                                    <li>
                                        <div class="slide">
                                            <div class="media">

                                                <div class="media-body">
                                                    <div class="col-md-5">
                                                        <div><img class="img-responsive" alt="{{item.universityQuote}}"
                                                                  ng-src="{{imageHostPath}}{{item.universityImg}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p class="mid-three-uni-name">
                                                            {{item.universityName}}</p>

                                                        <p class="mid-three-uni-quote">
                                                            {{item.universityQuote}}</p>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </flex-slider>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


</div>
</section>
<!-- #content end -->
