<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Cláusula de exención de responsabilidad
                        </strong>
                    </p>

                </div>

            </div>


            <div class="col-md-3 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">


                        <p>{{'disclaimerScreenTexts.WELCOME_TO_STUDENT2STUDENT_INDEPENDENT_WEBSITE' | translate}}
                        </p>

                        <p class="blue-text lato uppercase heading-text">{{'disclaimerScreenTexts.DISCLAIMER' | translate}}</p>

                        <p>{{'disclaimerScreenTexts.THIS_SERVICE_OFFERS' | translate}}
                        </p>

                        <p class="blue-text lato uppercase heading-text">{{'disclaimerScreenTexts.RECOMMENDATIONS_FOR_SETTING_EXCHANGES' | translate}} </p>
                        <ul class="text-list">
                            <li><span>{{'disclaimerScreenTexts.SET_EXCHANGE_ARRANGEMENTS' | translate}}</span></li>
                            <li><span>{{'disclaimerScreenTexts.EXERCISE_COE' | translate}}</span></li>
                            <li><span>{{'disclaimerScreenTexts.PROVIDE_LIMITED_INFO' | translate}}</span></li>
                        </ul>


                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


