<footer id="footer">

    <div class="footer-main">
        <div class="container">
            <div class="row">

                <div class="col-md-4 text-center-samll-device">

                    <div class="widget widget-about">
                        <img alt="student2student" class="img-responsive footer-main-image"
                             src="{{appHostPath}}/dist/images/logo_and_text.png"/>

                        <p>{{'footerTexts.BUY_AND_SELL_DIRECTLY' | translate}}
                            </p>

                        <a
                                ui-sref="app.howItWorks">
                            <div class="badge"><i class="fa fa-angle-right"></i></div>
                            {{'buyBookScreenTexts.READ_MORE' | translate}}</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="float: right;"
                           ui-sref="app.conceptVideo">
                            <div class="badge"><i class="fa fa-angle-right"></i></div>
                            {{'footerTexts.WATCH_THE_CONCEPT' | translate}}
                            </a>

                    </div>

                    <div class="social-div">
                        <div class="social_icon"><img alt="student2student facebook url"
                                                      src="{{appHostPath}}/dist/images/footer/facebook_logo.png"/></div>
                        <div class="social_connect"><a target="_blank"
                                                       href="https://www.facebook.com/student2student"><strong>
                            {{'footerTexts.FIND_US' | translate}}
                            </strong><br/>
                            {{'footerTexts.ON_FB' | translate}}</a></div>
                        <div class="social_icon"><img alt="student2student twitter url"
                                                      src="{{appHostPath}}/dist/images/footer/twitter_logo.png"/></div>
                        <div class="social_connect"><a target="_blank"
                                                       href="https://www.twitter.com/St2StTextbook"><strong>{{'footerTexts.FIND_US' | translate}}</strong><br/>
                            {{'footerTexts.ON_TWITTER' | translate}}</a></div>


                    </div>

                    <div class="appStore-div">
                        <div class="appStore_icon">
                            <a target="_blank" href="https://itunes.apple.com/es/app/student2student/id1398580072">
                               <img style="width:100%; height:100%" src="{{appHostPath}}/dist/images/footer/app-store-badge-es.png" alt ="app store logo">
                            </a>
                        </div>
                        <div class="appStore_icon">
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.student2student.student2studentapp">
                                <img  style="width:100%; height:100%" alt="play store logo" src="{{appHostPath}}/dist/images/footer/google-play-badge-es.png"/>
                             </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>{{'footerTexts.SEARCH_AMONGST' | translate}}</strong></h4>

                        <div class="fslider" data-animation="slide" data-arrows="false">
                            <div class="flexslider reference-slider footer-silder">
                                <div class="slider-wrap">
                                    <flex-slider slide="brandImage in brandImages track by $index" animation="slide"
                                                 direction="vertical" controlNav="false" directionNav="false">
                                        <li>
                                            <div class="slide">
                                                <ul class="footer-brands-ul">
                                                    <li data-ng-repeat="brand in brandImage.brands">
                                                        <img alt="{{brand.image}}"
                                                             ng-src="{{appHostPath}}/{{brand.image}}"/>
                                                    </li>

                                                </ul>

                                            </div>
                                        </li>
                                    </flex-slider>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-4">

                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>{{'footerTexts.SUBSCRIBE_TO_OUR' | translate}}</strong></h4>

                        <form cg-busy="{promise:newsletterPromise}" name="newsletterForm" submit-validate
                              ng-submit="addToNewsletter(newsletterForm.$valid)" role="form"
                              novalidate>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.email.$invalid && !newsletterForm.email.$pristine, 'has-success' : newsletterForm.email.$valid && !newsletterForm.email.$pristine}">

                                <input ng-model="user.newsLetterEmail" name="email" type="email"
                                       class="form-control subscribe-input" placeholder="Tu Email"
                                       required="">

                                <p class="help-block">

                                </p>
                                <button class="myBtn myBtn-rounded search-homepage-btn subscribe-btn" type="submit">
                                    {{'footerTexts.SUBSCRIBE_NOW' | translate}}
                                </button>

                            </div>
                        </form>


                    </div>

                    <div class="widget widget-newsletter mb-0">

                        <h4><strong>{{'footerTexts.USEFUL_LINK' | translate}}</strong></h4>

                        <ul class="footer-useful-links-ul">
                            <li>
                                &nbsp;<a ui-sref="app.howItWorks">{{'faqScreenTexts.HOW_STUDENT2STUDENT_WORK' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.conceptVideoSpanish">{{'footerTexts.WATCH_THE_VIDEO' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.news">{{'footerTexts.NEWS' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.signup">{{'signInScreenTexts.JOIN' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.login">{{'signInScreenTexts.SIGN_IN' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.universityMap">{{'footerTexts.UNIVERSITY_MAP' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.faq">{{'menuTexts.FAQ' | translate}}</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.contactUs">{{'menuTexts.CONTACT_US' | translate}}</a>
                            </li>
                        </ul>


                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-5 copyright">
                    <p class="mb-0">{{'footerTexts.COPY_RIGHT_2007' | translate}}{{currentYear}}, {{'faqScreenTexts.STUDENT2STUDENT_COM' | translate}}. {{'footerTexts.ALL_RIGHTS_RESERVED' | translate}}</p>
                </div>
                <div class="col-md-7 copyright">
                    <p>
                        <a ui-sref="app.privacyPolicy">{{'menuTexts.PRIVACY_POLICY' | translate}} :: </a>
                        <a ui-sref="app.disclaimer"> {{'menuTexts.DISCLAIMER' | translate}} </a>
                        <a ui-sref="app.conditionOfUse">:: {{'menuTexts.CONDITION_OF_USE' | translate}}</a>
                    </p>
                </div>


            </div>
        </div>
    </div>

</footer>
