<div class="concept-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>por qué
                    ?</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;Student 2</text>
                        <text class="uppercase orange-text">Student</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4">
                <img alt="how it works" class="img-responsive margin-auto"
                     src="{{appHostPath}}/dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="how it works" du-smooth-scroll="how-it-works"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageFirstPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="how-it-works" href=""><h2
                            class="orange-text uppercase lato mid-one-header-text"><strong>CÓMO FUNCIONA</strong></h2>
                    </a>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="how it works" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">Esta es la cosa más fácil que harás durante todo el
                        semestre. No, realmente.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">

                <div class="mid-one-style">
                    <img alt="why use student2student" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageSecondStyle.png"/>
                </div>
                <div>
                    <a href=""><img alt="why use student2student" du-smooth-scroll="why-student-2-student"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageSecondPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="why-student-2-student" href=""><h2
                            class="tiya-text uppercase lato mid-one-header-text"><strong>Por qué usar
                        student2Student?</strong></h2></a>
                </div>

                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details middle">Somos la manera sin complicaciones de comprar
                        libros de texto y vender libros de texto en línea, de manera barata y local.

                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="watch concept video in 2 minutes" du-smooth-scroll="concept-video"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageThirdPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a href="" du-smooth-scroll="concept-video"><h2
                            class="blue-text uppercase lato mid-one-header-text"><strong>Vea nuestro concepto en 2
                        minutos</strong></h2></a>
                </div>
                <div class="mid-one-style">
                    <img alt="watch concept video in 2 minutes" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageThirdStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">¡Hemos sacado al hombre del medio y hemos conseguido que
                        los libros de texto baratos de la universidad fueran fáciles!
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>


<div id="how-it-works" class="section mid-section tree-section">
    <div class="container clearfix">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="white-text open-sans uppercase header-text">CÓMO FUNCIONA</h1>

                    <p class="white-text lato sub-header-text">Esta es la cosa más fácil que harás durante todo el
                        semestre. No, realmente.<br/>
                        Así es como el sistema simple, rápido, Student 2 Student trabaja para hacer su vida más fácil:
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="white-circle"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-top border-right">


                <p class="mid-one-details white-text lato">¿Necesitas comprar un libro de texto usado? No hay problema.
                    Busca y luego pónte en contacto con el vendedor. ¿No encuentras el libro usado que necesitas? Eso
                    tampoco es problema. ¡Te daremos una comparación de precios y te diremos dónde puedes obtener los
                    libros de texto más baratos!


                </p>


            </div>


            <div class="col-md-6 mid-one-col-top border-left padding-left-none">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 1" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic.png"/>
                    <img alt="how it works step 1" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic_small.png"/>


                </div>
                <p class="white-text lato mid-one-details step1">Paso 01</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right padding-right-none">

                <div class="mid-two-first-pic text-right">
                    <img alt="how it works step 2" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic.png"/>
                    <img alt="how it works step 2" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic_small.png"/>
                </div>
                <p class="white-text lato mid-one-details step2 text-right">Paso 02</p>

            </div>


            <div class="col-md-6 border-left mid-one-col-mid">

                <p class="mid-one-details white-text lato mid-one-details">Te ahorraremos la molestia de tener que mirar
                    en un montón de sitios web de venta de libros para encontrar libros universitarios baratos. ¿Quién
                    sabe realmente dónde buscar? Tenemos una gran red de libreros, para que puedas obtener esos libros
                    de texto al mejor precio.


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right">

                <p class="mid-one-details lato white-text">¿Necesitas vender libros de texto? ¡Estupendo! Basta con
                    crear una cuenta, introducir la información del libro y venderlo. Reunirse en el campus para hacer
                    el intercambio. Sin cargos, sin envío y sin tarjetas de crédito. Que más necesitas?
                </p>


            </div>


            <div class="col-md-6 padding-left-none border-left mid-one-col-mid">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 3" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic.png"/>
                    <img alt="how it works step 3" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step1 text-left">Paso 03</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-bottom border-right padding-right-none text-right">

                <div class="mid-two-first-pic">
                    <img alt="how it works step 4" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic.png"/>
                    <img alt="how it works step 4" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step2 text-right">Paso 04</p>
            </div>


            <div class="col-md-6 mid-one-col-bottom border-left">

                <p class="mid-one-details lato white-text margin-top-quarter">Disfruta del dinero que has ahorrado en la
                    compra de tus libros de texto.


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-12 mid-one-col-root text-center">

                <div class="">
                    <img alt="how it works" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoLastPic.png"/>
                </div>


            </div>


        </div>


    </div>
</div>


<div id="why-student-2-student" class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center why-student-2-student">
                <h1 class="open-sans uppercase header-text ">¿POR QUÉ STUDENT 2 STUDENT?</h1>
            </div>

            <div class="col-md-6 mid-three-left-part">

                <div>
                    <h5 class="uppercase lato mid-one-header-text body-text-size"><strong>Y POR QUÉ NO?</strong></h5>
                </div>

                <div>
                    <p class="lato mid-one-details body-text-size">Nuestro servicio es totalmente gratuito!</p>

                    <p class="lato mid-one-details body-text-size">Puedes encontrar fácilmente con el comprador o
                        vendedor en su campus para intercambiar libros de texto por dinero en efectivo.</p>

                    <p class="lato mid-one-details body-text-size">Mantente anónimo si quieres! Tu tienes el control de
                        la información que compartes en la web.</p>

                    <p class="lato mid-one-details body-text-size">No intermediamos en la transacción, el intercambio se
                        produce entre el comprador y el vendedor.</p>

                    <p class="lato mid-one-details body-text-size">Sin envío, sin tarjetas de crédito, y sin molestias.

                    </p>

                    <p class="lato mid-one-details body-text-size">¿No encuentras los libros usados que necesitas?
                        Nuestra comparación de precios te ayudará a encontrar tus libros de texto al mejor precio!</p>

                    <p class="lato mid-one-details body-text-size">No te dejes engañar tratando de comprar libros de
                        texto o vender libros de texto a tu librería habitual!</p>

                    <p class="lato mid-one-details body-text-size">Student 2 Student es GRATIS!</p>

                    <p class="lato mid-one-details body-text-size last">Existen otras paginas web con servicios
                        parecidos pero no tan completos como STUDENT 2 STUDENT.
                    </p>


                </div>
            </div>

            <div class="col-md-6 mid-three-right-part">
                <div class="row">
                    <div class="col-md-6 padding-right-none">
                        <div class="blue-header"><h5 class="white-text uppercase lato  body-text-size header-text">
                            Student 2 Student</h5></div>

                        <div>
                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">Sin envío y sin molestias</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">No hay sistemas de pago, solo
                                    efectivo</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">Compradores verificados y ningún
                                    intermediario</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">Ventas rápidas sin
                                espera y sin intermediario</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">Completamente
                                gratis!</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6 padding-left-none">
                        <div class="orange-header"><h5 class=" white-text uppercase lato  header-text body-text-size ">
                            LOS OTROS TIPOS</h5></div>

                        <div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">No requerimos envíos que encarecen el
                                    producto y
                                    Retrasan la entrega
                                </p>
                            </div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Sin Tarifas de transacción, robo de
                                    identidad y sin sistemas complejos de pago</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Compradores desconocidos, sin rostro y el
                                    riesgo de estafas</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Ventas lentas, mucha espera y con
                                    intermediarios!</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size last">Listado, ventas y tasas.</p></div>


                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div id="concept-video" class="section m-0 pt-0 mid-last-style-section"></div>
<div class="section m-0 pt-0 mid-one mid-last-section">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 left-part">

                <div>
                    <h1 class="uppercase lato mid-one-header-text">VEA NUESTRO CONCEPTO EN<br/>
                        <text class="tiya-text">2 MINUTOS</text>
                    </h1>
                </div>

                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video1.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Estos son algunos de los aspectos más destacados de
                                nuestro concepto:
                            </p></div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video2.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Estos son algunos de los aspectos más destacados de
                                nuestro concepto:
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video3.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Estos son algunos de los aspectos más destacados de
                                nuestro concepto:
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video4.png"/>
                            </a>

                            <p class="lato video-text grey-text">Estos son algunos de los aspectos más destacados de
                                nuestro concepto:
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6 ">
                <div class="right-part hide-in-small">
                    <div><h3 class="lato white-text body-text-size-22 header-text">Estamos creando una red local de
                        nuestro sistema para cada escuela y ayudando a todos los estudiantes que se inscriban con
                        nosotros para encontrar sus libros de texto con descuento.</h3></div>

                    <p class="white-text lato body-text-size line-height-1">Estos son algunos de los aspectos más
                        destacados de
                        nuestro concepto:
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Todos navegan a nuestra página principal de
                        Student2Student.com.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Cada escuela tiene su propia sección.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Creas una cuenta en la sección de tu escuela
                        y la búsqueda de libros de texto de la universidad allí también.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Compras y vendes con estudiantes en tu
                        propia escuela donde es fácil reunirse para hacer la transacción. Efectivo para libros usados.
                        Simple, ¿verdad?</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Si nadie está vendiendo el libro de texto
                        que necesitas en tu escuela, te ayudaremos a comparar precios en docenas de sitios para que
                        pueda obtener el mejor precio.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">¡Puedes conseguir encontrar tus libros al
                        mejor precio!</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">¡Hemos eliminado los intermediarios y
                        hemos conseguido encontrar los libros de texto al mejor precio!</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideoSpanish"><h2 class="uppercase lato white-text">VER VIDEO</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="section m-0 pt-0 mid-one mid-last-section dark-background">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 ">
                <div class="right-part hide-in-large">
                    <div><h3 class="lato white-text body-text-size-22 header-text">Estamos creando una red local de
                        nuestro sistema para cada escuela y ayudando a todos los estudiantes que se inscriban con
                        nosotros para encontrar sus libros de texto con descuento.</h3></div>

                    <p class="white-text lato body-text-size line-height-1">Estos son algunos de los aspectos más
                        destacados de
                        nuestro concepto:
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Todos navegan a nuestra página principal de
                        Student2Student.com.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Cada escuela tiene su propia sección.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Creas una cuenta en la sección de tu escuela
                        y la búsqueda de libros de texto de la universidad allí también.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Compras y vendes con estudiantes en tu
                        propia escuela donde es fácil reunirse para hacer la transacción. Efectivo para libros usados.
                        Simple, ¿verdad?</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Si nadie está vendiendo el libro de texto
                        que necesitas en tu escuela, te ayudaremos a comparar precios en docenas de sitios para que
                        pueda obtener el mejor precio.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">¡Puedes conseguir encontrar tus libros al
                        mejor precio!</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">¡Hemos eliminado los intermediarios y
                        hemos conseguido encontrar los libros de texto al mejor precio!</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideo"><h2 class="uppercase lato white-text">VER VIDEO</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>


</div>
<div class="section m-0 pt-0 mid-last-style-section"></div>
</div>
</section>


