<div class="concept-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>{{'howItWorksScreenTexts.WHY' | translate}}</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase navy-blue-text ">{{'howItWorksScreenTexts.STUDENT_2' | translate}}</text>
                        <text class="uppercase orange-text">{{'howItWorksScreenTexts.STUDENT' | translate}}</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4">
                <img alt="how it works" class="img-responsive margin-auto"
                     src="{{appHostPath}}/dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="how it works" du-smooth-scroll="how-it-works"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageFirstPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="how-it-works" href=""><h2
                            class="orange-text uppercase lato mid-one-header-text"><strong>{{'howItWorksScreenTexts.HOW_IT_WORKS' | translate}}</strong></h2>
                    </a>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="how it works" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">{{'howItWorksScreenTexts.THIS_IS_THE_EASIEST' | translate}}
                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">

                <div class="mid-one-style">
                    <img alt="why use student2student" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageSecondStyle.png"/>
                </div>
                <div>
                    <a href=""><img alt="why use student2student" du-smooth-scroll="why-student-2-student"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageSecondPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="why-student-2-student" href=""><h2
                            class="tiya-text uppercase lato mid-one-header-text"><strong>{{'howItWorksScreenTexts.WHY_USE_STUDENT_2_STUDENT' | translate}}</strong></h2></a>
                </div>

                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details middle">{{'howItWorksScreenTexts.WE_RE_THE_HASSLE_FREE_WAY' | translate}}

                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="watch concept video in 2 minutes" du-smooth-scroll="concept-video"
                                    class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageThirdPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a href="" du-smooth-scroll="concept-video"><h2
                            class="blue-text uppercase lato mid-one-header-text"><strong>{{'howItWorksScreenTexts.WATCH_OUR_CONCEPT_IN_2_MINUTES' | translate}}</strong></h2></a>
                </div>
                <div class="mid-one-style">
                    <img alt="watch concept video in 2 minutes" class="img-responsive margin-auto-small"
                         src="{{appHostPath}}/dist/images/concept/conceptPageThirdStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">{{'howItWorksScreenTexts.WE_VE_TAKEN_OUT_THE_MIDDLE_MAN' | translate}}
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>


<div id="how-it-works" class="section mid-section tree-section">
    <div class="container clearfix">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="white-text open-sans uppercase header-text">{{'howItWorksScreenTexts.HOW_IT_WORKS' | translate}}</h1>

                    <p class="white-text lato sub-header-text">{{'howItWorksScreenTexts.THIS_IS_THE_EASIEST' | translate}}<br/>
                        {{'howItWorksScreenTexts.HERE_IS_HOW_THE_SMIPLE' | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="white-circle"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-top border-right">


                <p class="mid-one-details white-text lato">{{'howItWorksScreenTexts.NEED_TO_BUY_USED_TEXTBOOK' | translate}}


                </p>


            </div>


            <div class="col-md-6 mid-one-col-top border-left padding-left-none">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 1" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic.png"/>
                    <img alt="how it works step 1" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic_small.png"/>


                </div>
                <p class="white-text lato mid-one-details step1">{{'howItWorksScreenTexts.STEP' | translate}} 01</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right padding-right-none">

                <div class="mid-two-first-pic text-right">
                    <img alt="how it works step 2" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic.png"/>
                    <img alt="how it works step 2" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic_small.png"/>
                </div>
                <p class="white-text lato mid-one-details step2 text-right">{{'howItWorksScreenTexts.STEP' | translate}} 02</p>

            </div>


            <div class="col-md-6 border-left mid-one-col-mid">

                <p class="mid-one-details white-text lato mid-one-details">{{'howItWorksScreenTexts.WE_SAVE_YOU_THE_HASSLE' | translate}}


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right">

                <p class="mid-one-details lato white-text">{{'howItWorksScreenTexts.NEED_TO_SELL_TEXTBOOKS' | translate}}
                </p>


            </div>


            <div class="col-md-6 padding-left-none border-left mid-one-col-mid">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 3" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic.png"/>
                    <img alt="how it works step 3" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step1 text-left">{{'howItWorksScreenTexts.STEP' | translate}} 03</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-bottom border-right padding-right-none text-right">

                <div class="mid-two-first-pic">
                    <img alt="how it works step 4" class="large-pic"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic.png"/>
                    <img alt="how it works step 4" class="small-pic margin-auto"
                         src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step2 text-right">{{'howItWorksScreenTexts.STEP' | translate}} 04</p>
            </div>


            <div class="col-md-6 mid-one-col-bottom border-left">

                <p class="mid-one-details lato white-text margin-top-quarter">{{'howItWorksScreenTexts.CELEBRATE_ALL_THE_MONEY_YOU_HAVE' | translate}}


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-12 mid-one-col-root text-center">

                <div class="">
                    <img alt="how it works" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoLastPic.png"/>
                </div>


            </div>


        </div>


    </div>
</div>


<div id="why-student-2-student" class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center why-student-2-student">
                <h1 class="open-sans uppercase header-text ">{{'howItWorksScreenTexts.WHY_STUDENT_2_STUDENT' | translate}}</h1>
            </div>

            <div class="col-md-6 mid-three-left-part">

                <div>
                    <h5 class="uppercase lato mid-one-header-text body-text-size"><strong>{{'howItWorksScreenTexts.REALLY_THE_QUESTION_YOU_SHOULD_BE_ASKING' | translate}}</strong></h5>
                </div>

                <div>
                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.OUR_SERVICE_IS_COMPLETELY_FREE' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.YOU_CAN_EASILY_MEET_THE_BUYER' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.STAY_ANONYMOUS_IF_YOU_WANT' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.WE_RE_NOT_GOING_TO_GET' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.NO_SHIPPING_NO_CREDIT_CARDS' | translate}}

                    </p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.CANT_FIND_THE_USED_BOOKS' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.DONT_GET_RIPPED_OFF_TRYING_TO_BUY' | translate}}</p>

                    <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.DID_WE_MENTION_THAT' | translate}}</p>

                    <p class="lato mid-one-details body-text-size last">{{'howItWorksScreenTexts.NOW_THERE_OTHER_SITES_OUT_THERE' | translate}}
                    </p>


                </div>
            </div>

            <div class="col-md-6 mid-three-right-part">
                <div class="row">
                    <div class="col-md-6 padding-right-none">
                        <div class="blue-header"><h5 class="white-text uppercase lato  body-text-size header-text">
                            {{'howItWorksScreenTexts.STUDENT_2_STUDENT' | translate}}</h5></div>

                        <div>
                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.NO_SHIPPING_AND_HASSLES' | translate}}</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.NO_PAYMENT_SYSTEMS_JUST_CASH' | translate}}</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.VERIFIED_BUYERS_AND_NO_MIDDLE_MAN' | translate}}</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.QUICK_SALES_NO_WAITING' | translate}}</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.COMPLETELY_FREE_MORE_FREE' | translate}}</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6 padding-left-none">
                        <div class="orange-header"><h5 class=" white-text uppercase lato  header-text body-text-size ">
                            {{'howItWorksScreenTexts.THE_OTHER_GUYS' | translate}}</h5></div>

                        <div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.EXPENSIVE_SHIPPING_LEADING_TO_HASSLES' | translate}}
                                </p>
                            </div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.TRANSACTION_FEES_IDENTITY_THEFT' | translate}}</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.UNKNOWN_FACELESS_BUYERS' | translate}}</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">{{'howItWorksScreenTexts.SLOW_SALES_LOTS_OF_WAITING' | translate}}</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size last">{{'howItWorksScreenTexts.LISTING_SALES_AND_TRANSACTION_FEES' | translate}}</p></div>


                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div id="concept-video" class="section m-0 pt-0 mid-last-style-section"></div>
<div class="section m-0 pt-0 mid-one mid-last-section">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 left-part">

                <div>
                    <h1 class="uppercase lato mid-one-header-text">{{'howItWorksScreenTexts.WATCH_OUR_CONCEPT_IN' | translate}}<br/>
                        <text class="tiya-text">{{'howItWorksScreenTexts.2_MINUTES' | translate}}</text>
                    </h1>
                </div>

                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video1.png"/>
                            </a>

                            <p class="lato video-text  grey-text">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                            </p></div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video2.png"/>
                            </a>

                            <p class="lato video-text  grey-text">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video3.png"/>
                            </a>

                            <p class="lato video-text  grey-text">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive"
                                     src="{{appHostPath}}/dist/images/concept/video4.png"/>
                            </a>

                            <p class="lato video-text grey-text">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6 ">
                <div class="right-part hide-in-small">
                    <div><h3 class="lato white-text body-text-size-22 header-text">{{'howItWorksScreenTexts.WE_CREATING_LOCAL_NETWORK' | translate}}</h3></div>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.EVERYONE_NAVIGATES_TO_OUR_SCHOOL' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.EVERY_SCHOOL_HAS_OWN_SECTION' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.YOU_CREATE_AN_ACCOUNT_AY_YOUR_SCHOOL' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.BUY_SELL_WITH_STUDENT_AT_YOUR' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.IF_NOBODY_SELLING_THE_TEXTBOOK' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.YOU_FINALLY_GET_TO_PAY_FAIR' | translate}}</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">{{'howItWorksScreenTexts.WE_TAKEN_OUT_THE_MIDDLE_MAN' | translate}}</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideoSpanish"><h2 class="uppercase lato white-text">{{'howItWorksScreenTexts.WATCH_VIDEO' | translate}}</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="section m-0 pt-0 mid-one mid-last-section dark-background">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 ">
                <div class="right-part hide-in-large">
                    <div><h3 class="lato white-text body-text-size-22 header-text">{{'howItWorksScreenTexts.WE_CREATING_LOCAL_NETWORK' | translate}}</h3></div>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.HERE_SOME_OF_HIGHLIGHTS_OF_CONCEPT' | translate}}
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.EVERYONE_NAVIGATES_TO_OUR_SCHOOL' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.EVERY_SCHOOL_HAS_OWN_SECTION' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.YOU_CREATE_AN_ACCOUNT_AY_YOUR_SCHOOL' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.BUY_SELL_WITH_STUDENT_AT_YOUR' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.IF_NOBODY_SELLING_THE_TEXTBOOK' | translate}}</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">{{'howItWorksScreenTexts.YOU_FINALLY_GET_TO_PAY_FAIR' | translate}}</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">{{'howItWorksScreenTexts.WE_TAKEN_OUT_THE_MIDDLE_MAN' | translate}}</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideoSpanish"><h2 class="uppercase lato white-text">{{'howItWorksScreenTexts.WATCH_VIDEO' | translate}}</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>


</div>
<div class="section m-0 pt-0 mid-last-style-section"></div>
</div>
</section>


