<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>POLÍTICA DE
                            <text class="orange-text">PRIVACIDAD</text>
                        </strong>
                    </p>

                </div>

            </div>


            <div class="col-md-3 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">


                        <p>{{'privacyPolicyScreenTexts.WELCOME_TO_STUDENT2STUDENT' | translate}}</p>

                        <p>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_HAS_ESTABLISHED' | translate}}</p>

                        <p class="blue-text lato uppercase heading-text">{{'privacyPolicyScreenTexts.PROTECTING_YOUR_PRIVACY' | translate}}</p>

                        <ul class="text-list">
                            <li><span>{{'privacyPolicyScreenTexts.WE_DO_NOT_SHARE' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.WE_DO_NOT_EMPLOY' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.WE_DO_NOT_SEND' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.ACCOUNT_INFORMATION_PASSWORD_PROTECTED' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.CONTACT_INFORMATION_OTHER' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.MAKE_IT_A_HABIT' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_DOES_NOT_KNOWINGLY' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_OR_PEOPLE' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.WE_ARE_NOT_RESPONSIBLE' | translate}}</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">{{'privacyPolicyScreenTexts.DATA_WE_COLLECT' | translate}}</p>
                        <ul class="text-list">

                            <li><span>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_COLLECTS_EMAIL' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.ALL_INFORMATION_PROVIDED_TO_STUDENT2STUDENT' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_DOES_NOT_STORE' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.THE_USE_OF_STUDENT2STUDENT' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.WE_MAY_COLLECT_PERSONAL_INFORMATION' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.PLEASE_DO_NOT_POST' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.OUR_LOGS_COLLECT' | translate}}</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">{{'privacyPolicyScreenTexts.DATA_WE_STORE' | translate}}</p>
                        <ul class="text-list">
                            <li><span>{{'privacyPolicyScreenTexts.ALL_PUBLISHED_BOOKS' | translate}}</span>
                            </li>
                            <li><span>{{'privacyPolicyScreenTexts.OUR_WEB_LOGS' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.ALTHOUGH_WE_MAKE_GOOD' | translate}}</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">{{'privacyPolicyScreenTexts.ARCHIVING_AND_DISPLAYING' | translate}}</p>


                        {{'privacyPolicyScreenTexts.SEARCH_ENGINES_AND_OTHER' | translate}}

                        <p class="blue-text lato uppercase heading-text"> {{'privacyPolicyScreenTexts.CIRCUMSTANCES_IN_WHICH' | translate}}</p>

                        <ul class="text-list">
                            <li><span>{{'privacyPolicyScreenTexts.STUDENT2STUDENT_MAY_DISCLOSE_USERS' | translate}}</span></li>
                            <li><span>{{'privacyPolicyScreenTexts.STUDENT_2STUDENT_MAY_DISCLOSE_LAW' | translate}}</span>
                            </li>
                        </ul>

                        <p class="blue-text lato uppercase heading-text">{{'privacyPolicyScreenTexts.INTERNATIONAL_USERS' | translate}}</p>
                        <ul class="text-list">
                            <li><span>{{'privacyPolicyScreenTexts.BY_VISITING_OUR_WEBSITE' | translate}}</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


