<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>POLÍTICA DE
                            <text class="orange-text">PRIVACIDAD</text>
                        </strong>
                    </p>

                </div>

            </div>


            <div class="col-md-3 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">


                        <p>Bienvenido a Student 2 Student. Student 2 Student provee características del sitio web
                            sujeto a la siguiente "Política de privacidad". Si visita, comercializa o compra en Student
                            2 Student, acepta esta "Política de privacidad". Por favor, lea detenidamente.</p>

                        <p>Student 2 Student ha establecido esta política de privacidad para explicarle cómo su
                            información está protegida, recopilada y utilizada, que puede ser actualizada por el
                            Student 2 Student de vez en cuando. Student 2 Student proporcionará
                            notificación de cambios significativos importantes a esta política de privacidad publicando
                            un aviso en el sitio del Student 2 Student o por correo electrónico.</p>

                        <p class="blue-text lato uppercase heading-text">Protección de su privacidad</p>

                        <ul class="text-list">
                            <li><span>No compartimos su información con terceros con fines de marketing.</span>
                            </li>
                            <li><span>No empleamos dispositivos de seguimiento para propósitos de marketing ("cookies").</span></li>
                            <li><span>No le enviamos comunicaciones no solicitadas con fines de marketing.</span></li>
                            <li><span>La información de la cuenta está protegida por contraseña. Mantén tu contraseña a salvo y no cuentes ni compartes con nadie.</span>
                            </li>
                            <li><span>La información de contacto de otros usuarios se enviará por correo electrónico después de reservar un libro. Usted verá la información de contacto necesaria en Student 2 Student si usted u otros miembros reservan libros.</span></li>
                            <li><span>Haz que sea un hábito cerrar tu navegador después de hacer clic en "cerrar sesión".</span></li>
                            <li><span>Student 2 Student no recopila a sabiendas ninguna información de personas menores de 13 años. Si el Student 2 Student descubre que un miembro es menor de 13 años, el Student 2 Student removerá a esta persona como miembro.</span></li>
                            <li><span>Student 2 Student, o personas que publican en Student 2 Student, puede proporcionar enlaces a otros sitios, que pueden tener diferentes prácticas de privacidad.</span>
                            </li>
                            <li><span>No somos responsables ni controlamos las políticas de privacidad de dichos sitios web y alentamos a todos los usuarios a leer las políticas de privacidad de todos y cada uno de los sitios visitados.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Datos que recopilamos</p>
                        <ul class="text-list">

                            <li><span>Student 2 Student recopila su dirección de correo electrónico para propósitos tales como envío de correos electrónicos de autoedición y confirmación, autenticación de cuentas de usuario, prestación de servicios de correo electrónico de suscripción, envío de información de contacto al reservar un libro, etc.</span>
                            </li>
                            <li><span>Toda la información proporcionada al Student 2 Student al inscribirse en una cuenta NO será entregada a terceros.</span>
                            </li>
                            <li><span>Student 2 El Student no almacena información de la tarjeta de crédito.</span></li>
                            <li><span>El uso de Student 2 Student se basa en la tecnología Secure Sockets Layer (SSL). Firmar, iniciar sesión, usar Student 2 Student está protegido por SSL.</span>
                            </li>
                            <li><span>Podemos recopilar información personal si la proporciona en comentarios o comentarios, lo publica en Student 2 Student, o si nos contacta directamente.</span>
                            </li>
                            <li><span>Por favor, no publique ninguna información personal sobre Student 2 Student que usted espera mantener privado.</span>
                            </li>
                            <li><span>Nuestros registros recopilan su dirección IP, URL de página y fecha y hora. Los registros web nos ayudan a diagnosticar problemas con nuestro servidor, a administrar el sitio Student 2 Student ya brindarle nuestro servicio.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Datos que almacenamos</p>
                        <ul class="text-list">
                            <li><span>Todos los libros publicados se almacenan en nuestra base de datos, incluso después de "supresión" y pueden ser archivados en otro lugar.</span>
                            </li>
                            <li><span>Nuestros registros web y otros registros también se almacenan en nuestra base de datos.</span></li>
                            <li><span>Aunque hacemos esfuerzos de buena fe para almacenar la información en un entorno operativo seguro que no está disponible para el público, no podemos garantizar una seguridad completa.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Archivar y exhibir libros de Student 2 Student publicados por los motores de búsqueda y otros sitios</p>


                        Los motores de búsqueda y otros sitios no afiliados con Student 2 Student podrían archivar o de cualquier otra manera hacer disponibles las publicaciones de Student 2 Student.

                        <p class="blue-text lato uppercase heading-text">Circunstancias en las que el Student 2 Student puede divulgar información</p>

                        <ul class="text-list">
                            <li><span>Student 2 Student puede revelar información sobre sus usuarios si así lo requiere la ley o en la creencia de buena fe de que dicha divulgación es razonablemente necesaria para responder a citaciones, órdenes judiciales u otros procesos legales.</span></li>
                            <li><span>Student 2 Student también puede revelar información sobre sus usuarios a los oficiales de la ley u otros, en la creencia de buena fe de que dicha divulgación es razonablemente necesaria para: hacer cumplir nuestros Términos de Uso; Responder a reclamaciones de que cualquier publicación u otro contenido viola los derechos de terceros; O proteger los derechos, propiedad o seguridad personal del Estudiante 2 Estudiante, sus usuarios o el público en general.</span>
                            </li>
                        </ul>

                        <p class="blue-text lato uppercase heading-text">Usuarios Internacionales</p>
                        <ul class="text-list">
                            <li><span>Al visitar nuestro sitio web y proporcionarnos datos, usted reconoce y acepta que debido a la dimensión internacional de Student 2 Student podemos usar los datos recogidos en el curso de nuestra relación con los fines identificados en esta política o en nuestras otras comunicaciones con Usted, incluyendo la transmisión de información fuera de su jurisdicción residente. Además, comprenda que los datos se almacenan en servidores ubicados en Suiza. Al proporcionarnos sus datos, usted acepta la transferencia de datos.</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


