<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>ESTAFAS Y TIMOS</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;Luchar</text>
                        <text class="uppercase orange-text">contra ellos</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-3">
                <div class="guard-image">
                <img alt="student2student scam & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/security.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <img alt="avoid scams & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/image2.jpg"/>
                </div>
                <div>
                    <h2 class="orange-text uppercase lato mid-one-header-text"><strong>EVITE ESTAFAS Y TIMOS</strong></h2>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="Read carefully to fight Scams & Fraud" class="img-responsive" src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div>
                    <p class="grey-text lato mid-one-details center-sm">Lea detenidamente para combatir estafas y timos
                    </p>
                </div>
            </div>
            <div class="col-md-8 mid-three-uni-quote-col page-text-side ">

                <p class="blue-text lato uppercase heading-text">¿QUIÉNES SON LOS ESTAFADORES?</p>

                <p class="blue-text lato sub-heading-text">Siga estas reglas de sentido común:</p>


                <ul class="text-list">
                    <li><span>TRATA LOCALMENTE CON LAS PERSONAS QUE PUEDES ENCONTRAR EN PERSONA - COE (efectivo en intercambio) - sigue esta regla, y  evitarás el 99% de los intentos de estafa en STUDENT 2 STUDENT.</span></li>
                    <li><span>NUNCA ENVIE DINERO - cualquiera que le pida que lo haga es un estafador potencial.</span></li>
                    <li><span>Los cheques y las transferencias falsas  son comunes, y los bancos no se hacen responsables de estas transacciones.</span></li>
                    <li><span>Student 2 Student NO ESTÁ INVOLUCRADO EN NINGUNA TRANSACCIÓN bancaria, y no maneja pagos, ni garantiza transacciones, ni ofrece "protección del comprador" o "certificación del vendedor".</span></li>
                    <li><span>NUNCA DES INFORMACIÓN FINANCIERA (número de cuenta bancaria, número de seguro social, información de eBay / PayPal, etc.)</span></li>
                    <li><span>EVITA LAS OFERTAS QUE INVOLUCRAN EL ENVÍO O EL PAGO EN TU TRANSACCIÓN.</span></li>
                    <li><span>NUNCA DE INFORMACIÓN FINANCIERA (número de cuenta bancaria, número de seguro social, información de eBay / PayPal, etc.). No la recopilamos, así que no debe cualquier otro usuario.</span></li>
                </ul>



            </div>

        </div>

    </div>
</div>



</div>
</section>


