<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>ESTAFAS Y TIMOS</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;Luchar</text>
                        <text class="uppercase orange-text">contra ellos</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-3">
                <div class="guard-image">
                <img alt="student2student scam & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/security.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <img alt="avoid scams & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/image2.jpg"/>
                </div>
                <div>
                    <h2 class="orange-text uppercase lato mid-one-header-text"><strong>EVITE ESTAFAS Y TIMOS</strong></h2>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="Read carefully to fight Scams & Fraud" class="img-responsive" src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div>
                    <p class="grey-text lato mid-one-details center-sm">Lea detenidamente para combatir estafas y timos
                    </p>
                </div>
            </div>
            <div class="col-md-8 mid-three-uni-quote-col page-text-side ">

                <p class="blue-text lato uppercase heading-text">{{'scamAndFraudsScreenTexts.WHO_ARE_SCAMMERS' | translate}}</p>

                <p class="blue-text lato sub-heading-text">{{'scamAndFraudsScreenTexts.FOLLOW_THESE_RULES' | translate}}</p>


                <ul class="text-list">
                    <li><span>{{'scamAndFraudsScreenTexts.DEAL_LOCALLY_WITH_FOLKS' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.NEVER_WIRE_FUNDS' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.FAKE_CASHIER_CHECKS' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.STUDENT2STUDENT_IS_NOT_INVOLVED' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.NEVER_GIVE_OUT' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.AVOID_DEALS_INVOLVING' | translate}}</span></li>
                    <li><span>{{'scamAndFraudsScreenTexts.NEVER_GIVE_OUT_FINANCIAL_INFO' | translate}}</span></li>
                </ul>



            </div>

        </div>

    </div>
</div>



</div>
</section>


