<div class="tell-a-friend-background">

<div class="container clearfix">


<div class="row">

    <div class="col-md-12">


        <p class="text-white mid-two-header">Dile a tus amigos</p>

        <div class="text-center tell-friends-share-div">
            <a class="facebook" href="" socialshare
               socialshare-provider="facebook"
               socialshare-text="{{shareText}}"
               socialshare-hashtags="{{shareHashtags}}"
               socialshare-url="{{shareUrl}}"><i class="fa fa-facebook"></i></a>
            <a class="twitter" href="" href="" socialshare
               socialshare-provider="twitter"
               socialshare-text="{{shareText}}"
               socialshare-hashtags="{{shareHashtags}}"
               socialshare-url="{{shareUrl}}"><i class="fa fa-twitter"></i></a>
        </div>


    </div>


</div>
<div class="row">
<div class="col-md-6 login-page-col-div">

    <div cg-busy="{promise:contactUsPromise}" class="login-page-dark-div login-page-form">
        <form name="sendEmail" class="form-horizontal" submit-validate
              ng-submit="sendMails(sendEmail.$valid)" role="form" novalidate>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         ng-class="{ 'has-error' : sendEmail.fullName.$invalid && !sendEmail.fullName.$pristine, 'has-success' : sendEmail.fullName.$valid && !contactForm.fullName.$pristine}">
                        <p class="white-text ">Tu nombre completo:
                            <text ng-show="$parent.loggedIn"><strong>{{user.fullName}}</strong></text>
                        </p>

                        <input ng-show="!$parent.loggedIn" name="fullName" type="text" class="form-control input-style"
                               placeholder="Tu nombre completo" ng-model="user.fullName" ng-required="!$parent.loggedIn">

                        <p class="help-block">
                            <span ng-show="sendEmail.fullName.$invalid && !sendEmail.fullName.$pristine">Su nombre completo es obligatorio.</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         ng-class="{ 'has-error' : sendEmail.email.$invalid && !sendEmail.email.$pristine, 'has-success' : sendEmail.email.$valid && !contactForm.email.$pristine}">
                        <p class="white-text ">Tu Email:
                            <text ng-show="$parent.loggedIn"><strong>{{user.email}}</strong></text>
                        </p>

                        <input ng-show="!$parent.loggedIn" name="email" type="email" class="form-control input-style"
                               placeholder="Tu Email" ng-model="user.email" ng-required="!$parent.loggedIn">

                        <p class="help-block">
                            <span ng-show="sendEmail.email.$invalid && !sendEmail.email.$pristine">Su Email es obligatorio.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div >

                <div  data-ng-repeat="friendEmail in friendEmails track by $index" ng-form="addRowForm">

                    <div class="row">
                        <div ng-class="{'col-md-12':$index==0,'col-md-6':$index>0}" >
                            <div class="form-group "
                                 ng-class="
                                                 { 'has-error' :
                                                        (sendEmail.$submitted && addRowForm.email.$invalid && addRowForm.email.$pristine)||
                                                        (addRowForm.email.$invalid && !addRowForm.email.$pristine),
                                                   'has-success' :
                                                        addRowForm.email.$valid && !addRowForm.email.$pristine}">
                                <p class="white-text">Email de tu amigo:</p>

                                <input type="email" class="form-control input-style" name="email"

                                       ng-model="friendEmail.email" required>

                                <p class="help-block">
                                    <span ng-show="(sendEmail.$submitted && addRowForm.email.$invalid && addRowForm.email.$pristine)||(addRowForm.email.$invalid && !addRowForm.email.$pristine)">Email es requerido.</span>

                                </p>
                            </div>
                        </div>


                        <div ng-if="friendEmail.remove" class="form-group col-md-6 float-right">
                            <p class="white-text text-right" for="state">&nbsp;</p>
                            <button type="button"
                                    class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10 functional-btn"
                                    ng-click="removeFriendEmail(friendEmail)"><i class="fa fa-trash"></i>
                                <span>Eliminar Email</span>
                            </button>
                        </div>
                    </div>
                    <hr>



                </div>
            </div>
            <div class="form-group ">
                <button type="button" class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10 functional-btn"
                        ng-click="addNewFriendEmail()"><i
                        class="fa fa-plus"></i> <span>Añadir nuevo email</span></button>
            </div>


            <div ng-show="!$parent.loggedIn" class="form-group"
                 ng-class="{ 'has-error' : sendEmail.message.$invalid && !sendEmail.message.$pristine, 'has-success' : sendEmail.message.$valid && !contactForm.message.$pristine}">
                <p class="white-text ">Tu mensaje:</p>

                <textarea rows="5" name="message" type="text" class="form-control input-style"
                          placeholder="Tu mensaje" ng-model="user.message" ng-required="!$parent.loggedIn"></textarea>

                <p class="help-block">
                    <span ng-show="sendEmail.message.$invalid && !sendEmail.message.$pristine">Su mensaje es obligatorio.</span>
                </p>
            </div>

            <div ng-if="!$parent.loggedIn" class="form-group"
                 ng-class="{'has-error':sendEmail.captcha.$invalid && !sendEmail.captcha.$pristine}">
                <div name="captcha"
                     vc-recaptcha
                     ng-model="user.key"
                     required="!$parent.loggedIn"
                        ></div>
                <p class="help-block">
                    <span ng-show="sendEmail.captcha.$invalid && !sendEmail.captcha.$pristine">Se requiere Captcha.</span>
                </p>
            </div>


            <div class="form-group text-left mt-20">
                <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Enviar Email</button>

            </div>


        </form>


    </div>


</div>
<div class="col-md-6 login-page-col-div ">

    <div class="login-page-dark-div login-page-quotation email-template-div">
        <div class="email-template-view">
            <img alt="tess friends about student2student" width="100%" data-ng-src="{{appHostPath}}/dist/images/tell_friend/header.jpg"/>

            <div class="row email-template-text">
                <div class="col-md-8">
                    <h4 class="blue-text lato header-text">Hola mi amigo,</h4>

                    <div ng-show="!$parent.loggedIn">
                        <p class="blue-text">Echa un vistazo a este servicio ... sólo para los estudiantes!</p>

                        <p class="blue-text">¡No! Esta no es otra librería de recompra de libros usados!</p>

                        <p class="blue-text">He decidido vender mis libros de texto directamente a otros estudiantes en el campus.</p>
                        <ul class="blue-text">
                            <li>Vende los libros que ya no necesitas, y encuentra los libros que quieres.</li>
                            <li>Promueve tu propia página de venta de libros de texto.</li>
                            <li>Encuentrate en el campus para hacer el intercambio.</li>
                            <li>Interactuar directamente con los estudiantes. Pagar en efectivo.</li>
                            <li>Sin envío. No hay tarjetas de crédito.</li>
                            <li>Utiliza la comparación de precios de libros de texto en línea.</li>
                            <li>ES TOTALMENTE GRATIS!</li>
                            <li>Echa un vistazo en 2 minutos "Cómo funciona":<br/>
                                <a ui-sref="app.conceptVideo">Ver Ahora</a></li>
                        </ul>
                        <p class="blue-text">No pierda dinero, compre directamente a los estudiantes.</p>

                        <p class="blue-text">... cuéntale a tus amigos, dile a tus compañeros, dile al mundo ... cuantos más miembros tengamos, más  ahorraremos!</p>

                        <p class="blue-text">¡Es hora de recuperar la librería! Cortar al intermediario y gastar su dinero en algo mejor! ¿O te gusta que te timen?</p>

                        <text class="blue-text">
                            Saludos,<br/>
                            {{user.fullName}}<br/>
                            {{user.email}}
                        </text>
                    </div>

                    <div ng-show="$parent.loggedIn">
                        <p class="blue-text">Echa un vistazo a los libros de texto que estoy vendiendo.</p>

                        <p class="blue-text">Estoy harto de ser arrancado por las librerías, así que decidí vender mis libros de texto directamente a todos los estudiantes en el campus.</p>

                        <p class="blue-text">No pierda dinero, compre directamente de mí.</p>

                        <p class="blue-text">¡Estoy seguro que hay un libro de texto para usted también!</p>
                        <a target="_blank" href="{{shareUrl}}"><img alt="student2student textbooks" style="width: 264px;"
                                                                    data-ng-src="{{appHostPath}}/dist/images/tell_friend/buy_my_textbooks.jpg"/></a><br/><br/>

                        <p class="blue-text">Saludos,<br/>
                            {{user.fullName}}</p>

                        <p class="blue-text">Ir a mi <a class="share-my-sell-page-url" target="_blank"
                                                         href="{{shareUrl}}">Página de venta personal</a>

                    </div>

                </div>
                <div class="col-md-4">
                    <div ng-show="!$parent.loggedIn">
                        <a target="_blank" ui-sref="app.signup"><img alt="join student2student" width="100%"
                                                                     data-ng-src="{{appHostPath}}/dist/images/tell_friend/joinButton.jpg"/></a><br/><br/>
                        <text class="lato italic blue-text">Mensaje personal para usted:</text>
                        <br/>
                        <text class="lato blue-text">{{user.message}}</text>
                    </div>
                    <div ng-show="$parent.loggedIn">
                        <a target="_blank" href="{{shareUrl}}"><img alt="student2student textbooks" width="100%"
                                                                    data-ng-src="{{appHostPath}}/dist/images/tell_friend/books_stack.jpg"/></a><br/><br/>
                    </div>

                </div>


            </div>

            <img alt="share student2student" width="100%" data-ng-src="{{appHostPath}}/dist/images/tell_friend/share.jpg"/>
            <img alt="tell friends about student2student" width="100%" data-ng-src="{{appHostPath}}/dist/images/tell_friend/footer.jpg"/>

            <div class="text-center footer-text">
                <text>2007-2017 Student 2 Student, Todos los derechos reservados</text>
            </div>
        </div>
    </div>


</div>

</div>


</div>


</div>







